<div class="section" id="user-profile">
    <div class="row">
        <div class="col s12 m12 l4" style="text-align: center; font-size: 30px; color: #000;">
            <p>
                Tiếp xúc vui vẻ, bệnh khoẻ mỗi ngày</p>
        </div>
        <div class="col s12 m12 l4" style="text-align: center;">
            <img src="image/logo001.png" class="responsive-img">
        </div>
        <div class="col s12 m12 l4" style="text-align: center; font-size: 30px; color: #000;">
            <p>
                {{GoiSoChiTietService.BaseParameter.KetThuc
                |
                date:'dd/MM/yyyy HH:mm:ss'}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            <table class="striped">
                <thead class="yellow darken-4 white-text">
                    <tr>
                        <th style="width: 50%; text-align: center; font-size: 40px;">Quầy</th>
                        <th style="width: 50%; text-align: center; font-size: 40px;">Số thứ tự</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of DanhMucQuayDichVuService.List01; index as i">
                    <tr *ngIf="i % 2 == 0" class="blue accent-1 white-text">
                        <td style="text-align: center; font-size: 50px; font-weight: bolder; padding: 0px;">{{item.Code}}</td>
                        <td style="text-align: center; font-size: 50px; font-weight: bolder; padding: 0px;">{{item.Display}}</td>
                    </tr>
                    <tr *ngIf="i % 2 == 1" class="light-blue lighten-4 white-text">
                        <td style="text-align: center; font-size: 50px; font-weight: bolder; padding: 0px;">{{item.Code}}</td>
                        <td style="text-align: center; font-size: 50px; font-weight: bolder; padding: 0px;">{{item.Display}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col s12 m12 l6">
            <table class="striped">
                <thead class="yellow darken-4 padding-5 white-text">
                    <tr>
                        <th style="width: 50%; text-align: center; font-size: 40px;">Quầy</th>
                        <th style="width: 50%; text-align: center; font-size: 40px;">Số thứ tự</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of DanhMucQuayDichVuService.List02; index as i">
                    <tr *ngIf="i % 2 == 0" class="blue accent-1 white-text">
                        <td style="text-align: center; font-size: 50px; font-weight: bolder; padding: 0px;">{{item.Code}}</td>
                        <td style="text-align: center; font-size: 50px; font-weight: bolder; padding: 0px;">{{item.Display}}</td>
                    </tr>
                    <tr *ngIf="i % 2 == 1" class="light-blue lighten-4 padding-5 white-text">
                        <td style="text-align: center; font-size: 50px; font-weight: bolder; padding: 0px;">{{item.Code}}</td>
                        <td style="text-align: center; font-size: 50px; font-weight: bolder; padding: 0px;">{{item.Display}}</td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <marquee width="100%" direction="left" height="100px" style="font-size: 40px; font-weight: bolder; color: #000;">
            Bệnh viện Đa khoa Đồng Nai, Số 02 đường Đồng Khởi, phường Bình Đa, thành phố Biên Hòa, tỉnh Đồng Nai. Điện thoại: 02518 825 609, Website: benhviendakhoadongnai.com
        </marquee>
    </div>
</div>
<app-loading *ngIf="GoiSoChiTietService.IsShowLoading"></app-loading>