<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Users
                        <span *ngIf="Sys_UsersService.List">({{Sys_UsersService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital System">eHospital System</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/SysUsers" title="Users">
                                Users
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="Sys_UsersService.BaseParameter.SearchString" placeholder="Tìm ..."
                        class="form-control" (keyup.enter)="Sys_UsersSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="Sys_UsersSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #Sys_UsersSort="matSort"
                        [dataSource]="Sys_UsersService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="Sys_UsersPaginator">
                                    {{
                                    Sys_UsersPaginator.pageSize *
                                    Sys_UsersPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Latin_Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phân quyền</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.User_Id}}" class="link-primary"
                                    routerLink="/SysUsersInfo001/{{element.User_Id}}"><b>{{element.User_Id}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="User_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.User_Id}}" class="link-primary"
                                    routerLink="/SysUsersInfo/{{element.User_Id}}"><b>{{element.User_Id}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="User_Code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Code</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.User_Code}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="User_Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.User_Name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Suspend">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Đình chỉ</th>
                            <td mat-cell *matCellDef="let element">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="Suspend"
                                        [(ngModel)]="element.Suspend">
                                    <span></span>
                                </label>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TrangThaiSuspend">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái Đình chỉ</th>
                            <td mat-cell *matCellDef="let element">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="TrangThaiSuspend"
                                        [(ngModel)]="element.TrangThaiSuspend">
                                    <span></span>
                                </label>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="User_Position">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phòng ban - Chức danh</th>
                            <td mat-cell *matCellDef="let element">{{element.User_Position}}</td>
                        </ng-container>
                        <ng-container matColumnDef="EmailAddress">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                            <td mat-cell *matCellDef="let element">{{element.EmailAddress}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="PhoneNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Điện thoại</th>
                            <td mat-cell *matCellDef="let element">{{element.EmailAddress}}</td>
                        </ng-container>
                        <ng-container matColumnDef="UserOption3">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã nhân viên</th>
                            <td mat-cell *matCellDef="let element">{{element.UserOption3}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Creation_Date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
                            <td mat-cell *matCellDef="let element">{{element.Creation_Date
                                |
                                date:'dd/MM/yyyy HH:ss:mm'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Created_By">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Người tạo</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.Created_By}}" class="link-primary"
                                    routerLink="/SysUsersInfo/{{element.Created_By}}"><b>{{element.Created_By}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Last_Update_Date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày sửa cuối</th>
                            <td mat-cell *matCellDef="let element">{{element.Last_Update_Date
                                |
                                date:'dd/MM/yyyy HH:ss:mm'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Last_Updated_By">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Người sửa cuối</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.Last_Updated_By}}" class="link-primary"
                                    routerLink="/SysUsersInfo/{{element.Last_Updated_By}}"><b>{{element.Last_Updated_By}}</b></a>
                            </td>
                        </ng-container>                       
                        <tr mat-header-row *matHeaderRowDef="Sys_UsersService.DisplayColumns003">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: Sys_UsersService.DisplayColumns003;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #Sys_UsersPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="Sys_UsersService.IsShowLoading"></app-loading>