<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Tiếp nhận:
                        <b>{{TiepNhanService.FormData.TiepNhan_Id}} [{{TiepNhanService.FormData.TiepNhan_Id}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="Bệnh án điện tử">Bệnh án điện tử</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/TiepNhan2025" title="Tiếp nhận">
                                Tiếp nhận
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l2">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;">
                            <i class="material-icons">more</i>
                        </a>
                        <!--<a title="Thêm mới" (click)="TiepNhanAdd()" style="color: green;"><i
                class="material-icons">add_box</i></a>-->
                        <a title="Lưu thay đổi" (click)="TiepNhanSave()" style="color:#2196f3;">
                            <i class="material-icons">save</i>
                        </a>
                    </div>                   
                </div>               
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="TiepNhanService.IsShowLoading"></app-loading>