<div class="custom-tabs-container">
    <ul class="nav nav-tabs justify-content-end" id="customTab5" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-DanhMucBieuMauDetail" data-bs-toggle="tab" href="#DanhMucBieuMauDetail"
                role="tab" aria-controls="DanhMucBieuMauDetail" aria-selected="true">
                <span class="badge bg-info" style="font-size: 12px;">Biểu mẫu
                    [{{DanhMucBieuMauService.FormData.ID}}]</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a style="cursor: pointer;" class="nav-link" id="tab-Close" data-bs-toggle="tab" (click)="Close()"
                role="tab" aria-controls="Close" aria-selected="false">
                <span class="badge bg-danger" style="font-size: 12px; padding: 0px; padding-left: 5px; padding-top: 2px;"><i class="bi bi-x"></i></span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="customTabContent">
        <div class="tab-pane fade show active" id="DanhMucBieuMauDetail" role="tabpanel">
            <div class="row gx-4">
                <div class="col-lg-5 col-sm-12 col-12">
                    <a style="width: 100%;" title="Lưu thay đổi" (click)="DanhMucBieuMauSave()" class="btn btn-info"><i
                            class="bi bi-sd-card"></i> Lưu thay đổi</a>
                </div>
                <div class="col-lg-7 col-sm-12 col-12">
                    <div class="form-check form-check-inline mb-6">
                        <input type="checkbox" class="form-check-input" name="Active"
                            [(ngModel)]="DanhMucBieuMauService.FormData.Active" />
                        <label class="form-check-label" for="Active">Kích hoạt</label>
                    </div>
                </div>
            </div>
            <div class="row gx-4">
                <div class="col-lg-5 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Tiêu đề</label>
                        <input name="Name" [(ngModel)]="DanhMucBieuMauService.FormData.Name" placeholder="Tiêu đề"
                            type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Mã quản lý</label>
                        <input name="Code" [(ngModel)]="DanhMucBieuMauService.FormData.Code" placeholder="Mã quản lý"
                            type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Hệ số</label>
                        <input name="HeSo" [(ngModel)]="DanhMucBieuMauService.FormData.HeSo" placeholder="Hệ số"
                            type="number" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Sắp xếp</label>
                        <input name="SortOrder" [(ngModel)]="DanhMucBieuMauService.FormData.SortOrder"
                            placeholder="Sắp xếp" type="number" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Biểu mẫu (.doc nếu có)</label>
                        <input class="form-control" type="file"
                            (change)="DanhMucBieuMauChangeFile($event.target.files)">
                    </div>
                </div>
                <div class="col-lg-7 col-sm-12 col-12">
                    <ck-editor [config]="{'height': 300, 'width': 700, 'versionCheck': false}" name="HTMLContent"
                        [(ngModel)]="DanhMucBieuMauService.FormData.HTMLContent" skin="moono-lisa" language="en"
                        [fullPage]="true"></ck-editor>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="DanhMucBieuMauService.IsShowLoading"></app-loading>