<div class="custom-tabs-container">
    <ul class="nav nav-tabs justify-content-end" id="customTab5" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-DuAnThuChiDetail" data-bs-toggle="tab" href="#DuAnThuChiDetail"
                role="tab" aria-controls="DuAnThuChiDetail" aria-selected="true">
                <span class="badge bg-info" style="font-size: 16px;">Thu chi
                    [{{DuAnThuChiService.FormData.ID}}]</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a style="cursor: pointer;" class="nav-link" id="tab-Close" data-bs-toggle="tab" (click)="Close()"
                role="tab" aria-controls="Close" aria-selected="false">
                <span class="badge bg-danger" style="font-size: 16px;"><i class="bi bi-x-lg"></i></span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="customTabContent">
        <div class="tab-pane fade show active" id="DuAnThuChiDetail" role="tabpanel">
            <div class="row gx-4">
                <div class="col-lg-4 col-sm-12 col-12">
                    <a style="width: 100%;" title="Lưu thay đổi" (click)="DuAnThuChiSave()" class="btn btn-info"><i
                            class="bi bi-sd-card"></i> Lưu thay đổi</a>
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="form-check form-check-inline mb-6">
                        <input type="checkbox" class="form-check-input" name="Active"
                            [(ngModel)]="DuAnThuChiService.FormData.Active" />
                        <label class="form-check-label" for="Active">Kích hoạt</label>
                    </div>
                </div>
            </div>
            <div class="row gx-4">
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Biểu mẫu
                            [{{DuAnThuChiService.FormData.DanhMucBieuMauID}}]</label>
                        <select class="form-select" name="DanhMucBieuMauID"
                            [(ngModel)]="DuAnThuChiService.FormData.DanhMucBieuMauID">
                            <option *ngFor="let item of DanhMucBieuMauService.List;" [value]="item.ID">
                                {{item.Name}} [{{item.ID}}]</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Hình thức
                            [{{DuAnThuChiService.FormData.DanhMucHinhThucThanhToanID}}]</label>
                        <select class="form-select" name="DanhMucHinhThucThanhToanID"
                            [(ngModel)]="DuAnThuChiService.FormData.DanhMucHinhThucThanhToanID">
                            <option *ngFor="let item of DanhMucHinhThucThanhToanService.List;" [value]="item.ID">
                                {{item.Name}} [{{item.ID}}]</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Ngày ghi nhận</label>
                        <input [ngModel]="DuAnThuChiService.FormData.NgayBatDau | date:'yyyy-MM-dd'"
                            style="text-align: right;" (ngModelChange)="DateNgayBatDau($event)"
                            [ngModelOptions]="{ updateOn: 'blur' }" type="date" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Tiêu đề</label>
                        <input name="Name" [(ngModel)]="DuAnThuChiService.FormData.Name" placeholder="Tiêu đề"
                            type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Số chứng từ</label>
                        <input name="SoChungTu" [(ngModel)]="DuAnThuChiService.FormData.SoChungTu"
                            placeholder="Số hồ sơ" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Số bút toán</label>
                        <input name="SoButToan" [(ngModel)]="DuAnThuChiService.FormData.SoButToan"
                            placeholder="Số bút toán" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Đơn giá</label>
                        <input name="DonGia" [(ngModel)]="DuAnThuChiService.FormData.DonGia" placeholder="Đơn giá"
                            type="number" class="form-control" style="text-align: right;">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Ghi chú</label>
                        <input name="Note" [(ngModel)]="DuAnThuChiService.FormData.Note" placeholder="Ghi chú"
                            type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Bên A (Bên duyệt)
                            [{{DuAnThuChiService.FormData.BenDauTuID}}]</label>
                        <select class="form-select" name="BenDauTuID"
                            [(ngModel)]="DuAnThuChiService.FormData.BenDauTuID" (change)="BenDauTuSearch()">
                            <option *ngFor="let item of ToChucService.List;" [value]="item.ID">
                                {{item.Display}} - {{item.Name}} [{{item.ID}}]</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Bên A (Bên duyệt)</label>
                        <input name="BenDauTuName" [(ngModel)]="DuAnThuChiService.FormData.BenDauTuName"
                            placeholder="Bên A (Bên duyệt)" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Đại diện bên A [{{DuAnThuChiService.FormData.NguoiDauTuID}}]</label>
                        <mat-select class="form-control" name="DuAnThuChiService.FormData.NguoiDauTuID"
                            (selectionChange)="NguoiDauTuSearch()"
                            [(ngModel)]="DuAnThuChiService.FormData.NguoiDauTuID">
                            <input placeholder="Tìm..." class="form-control"
                                (keyup)="ThanhVienFilter($event.target.value)">
                            <mat-option *ngFor="let item of ThanhVienService.ListFilter" [value]="item.ID">
                                {{item.Name}} - {{item.TaiKhoan}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Đại diện bên A</label>
                        <input name="NguoiDauTuName" [(ngModel)]="DuAnThuChiService.FormData.NguoiDauTuName"
                            placeholder="Đại diện bên A" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Chức danh</label>
                        <input name="NguoiDauTuChucDanh" [(ngModel)]="DuAnThuChiService.FormData.NguoiDauTuChucDanh"
                            placeholder="Chức danh" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Tài khoản bên A
                            [{{DuAnThuChiService.FormData.BenDauTuTaiKhoanID}}]</label>
                        <select class="form-select" name="BenDauTuTaiKhoanID"
                            [(ngModel)]="DuAnThuChiService.FormData.BenDauTuTaiKhoanID"
                            (change)="BenDauTuTaiKhoanSearch()">
                            <option [value]="0">
                                Chưa xác định</option>
                            <option *ngFor="let item of ToChucTaiKhoanService.ListFilter001;" [value]="item.ID">
                                {{item.Display}} - {{item.Description}} [{{item.ID}}]</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Tài khoản bên A</label>
                        <input name="BenDauTuSoTaiKhoan" [(ngModel)]="DuAnThuChiService.FormData.BenDauTuSoTaiKhoan"
                            placeholder="Tài khoản bên A" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Nguồn bên A</label>
                        <input name="BenDauTuNganHang" [(ngModel)]="DuAnThuChiService.FormData.BenDauTuNganHang"
                            placeholder="Nguồn bên A" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Bên B (Bên thực hiện)
                            [{{DuAnThuChiService.FormData.BenThucHienID}}]</label>
                        <select class="form-select" name="BenThucHienID"
                            [(ngModel)]="DuAnThuChiService.FormData.BenThucHienID" (change)="BenThucHienSearch()">
                            <option *ngFor="let item of ToChucService.List;" [value]="item.ID">
                                {{item.Display}} - {{item.Name}} [{{item.ID}}]</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Bên B (Bên thực hiện)</label>
                        <input name="BenThucHienName" [(ngModel)]="DuAnThuChiService.FormData.BenThucHienName"
                            placeholder="Bên B (Bên thực hiện)" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Đại diện bên B
                            [{{DuAnThuChiService.FormData.NguoiThucHienID}}]</label>
                        <mat-select class="form-control" name="DuAnThuChiService.FormData.NguoiThucHienID"
                            (selectionChange)="NguoiThucHienSearch()"
                            [(ngModel)]="DuAnThuChiService.FormData.NguoiThucHienID">
                            <input placeholder="Tìm..." class="form-control"
                                (keyup)="ThanhVienFilter001($event.target.value)">
                            <mat-option *ngFor="let item of ThanhVienService.ListFilter001" [value]="item.ID">
                                {{item.Name}} - {{item.TaiKhoan}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Đại diện bên B</label>
                        <input name="NguoiThucHienName" [(ngModel)]="DuAnThuChiService.FormData.NguoiThucHienName"
                            placeholder="Đại diện bên B" type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Chức danh</label>
                        <input name="NguoiThucHienChucDanh"
                            [(ngModel)]="DuAnThuChiService.FormData.NguoiThucHienChucDanh" placeholder="Chức danh"
                            type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Tài khoản bên B
                            [{{DuAnThuChiService.FormData.BenThucHienTaiKhoanID}}]</label>
                        <select class="form-select" name="BenThucHienTaiKhoanID"
                            [(ngModel)]="DuAnThuChiService.FormData.BenThucHienTaiKhoanID"
                            (change)="BenThucHienTaiKhoanSearch()">
                            <option [value]="0">
                                Chưa xác định</option>
                            <option *ngFor="let item of ToChucTaiKhoanService.ListFilter002;" [value]="item.ID">
                                {{item.Display}} - {{item.Description}} [{{item.ID}}]</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Tài khoản bên B</label>
                        <input name="BenThucHienSoTaiKhoan"
                            [(ngModel)]="DuAnThuChiService.FormData.BenThucHienSoTaiKhoan" placeholder="Tài khoản bên B"
                            type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <label class="form-label">Nguồn bên B</label>
                        <input name="BenThucHienNganHang" [(ngModel)]="DuAnThuChiService.FormData.BenThucHienNganHang"
                            placeholder="Nguồn bên B" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="DuAnThuChiService.IsShowLoading"></app-loading>