<div class="row">
    <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title" style="font-size: 20px;">Nghị định
                        số 13/2023/NĐ-CP về bảo vệ dữ liệu cá nhân của Chính phủ</h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a routerLink="#/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active">Nghị định
                            số 13/2023/NĐ-CP về bảo vệ dữ liệu cá nhân
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card card card-default scrollspy">
                            <div class="card-content">
                                <div>Kính chào Quý khách hàng.</div>
                                <div>Ban quản trị phần mềm (ứng dụng) xin gửi đến quý khách hàng thông báo về
                                    việc xử lý dữ liệu cá nhân, điều khoản và điều kiện liên quan đến bảo mật dữ
                                    liệu cá nhân, theo Nghị định số 13/2023/NĐ-CP của Chính phủ.</div>
                                <div>Chính sách bảo mật của chúng tôi đã được thông báo từ khi quý khách hàng tạo
                                    tài khoản để sử dụng phần mềm (ứng dụng). Theo đó, chúng tôi có thể thu thập
                                    và xử lý dữ liệu cá nhân của quý khách hàng, tuân thủ theo Chính sách bảo
                                    mật (quyền riêng tư) được xây dựng dựa trên quy định của Điều 68 đến Điều
                                    73, Nghị định 52/2013/NĐ-CP về bảo vệ thông tin cá nhân.</div>
                                <div>Từ ngày 1/7/2023, chính sách của chúng tôi sẽ được cập nhật và bổ sung để
                                    phù hợp với Nghị định số 13/2023/NĐ-CP mới được ban hành. Điều này giúp đảm
                                    bảo rằng phần mềm (ứng dụng) của chúng tôi tuân thủ các quy định của pháp
                                    luật Việt Nam về bảo vệ dữ liệu cá nhân của quý khách hàng.</div>
                                <div>Điều khoản và điều kiện về Bảo vệ dữ liệu cá nhân là một phần không thể tách rời
                                    của các thỏa thuận giữa chúng tôi và khách hàng</div>
                                <div>Chúng tôi khuyến khích Quý khách hàng đọc lại các chính sách và quy định
                                    pháp lý này để hiểu rõ hơn về cách chúng tôi xử lý dữ liệu cá nhân trong quá
                                    trình sử dụng phần mềm (ứng dụng).</div>
                                <div>Xin chân thành cảm ơn quý khách hàng.</div>
                                <div>Trân trọng, Ban quản trị phần mềm (ứng dụng).</div>
                                <hr />
                                <div class="col s12 m12 l12">
                                    <a *ngIf="NotificationService.IsMobileDevice"
                                        href="https://datafiles.chinhphu.vn/cpp/files/vbpq/2023/4/13nd.signed.pdf">Link
                                        PDF</a>
                                    <iframe *ngIf="!NotificationService.IsMobileDevice" id="fred"
                                        style="border:1px solid #666CCC"
                                        src="https://datafiles.chinhphu.vn/cpp/files/vbpq/2023/4/13nd.signed.pdf"
                                        frameborder="1" scrolling="auto" height="1200" width="100%"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>