<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Toa thuốc ngoại trú
                        <span *ngIf="KhamBenh_ToaThuocService.List">({{KhamBenh_ToaThuocService.List.length-1}}
                            items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="Bệnh án">Bệnh án</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/KhamBenhToaThuoc" title="Khám bệnh - Toa thuốc">
                                Khám bệnh - Toa thuốc
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <h6 class="breadcrumbs-title">
                        {{KhamBenh_ToaThuocService.BaseParameter.Note}}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l2">
                    <input [ngModel]="KhamBenh_ToaThuocService.BaseParameter.BatDau | date:'yyyy-MM-dd'"
                        style="text-align: right;" (ngModelChange)="DateBatDau($event)"
                        [ngModelOptions]="{ updateOn: 'blur' }" type="date" class="form-control" autocomplete="off"
                        (keyup.enter)="KhamBenh_ToaThuocSearch()">
                </div>
                <div class="col s12 m12 l3">
                    <label>
                        <input type="checkbox" class="form-check-input" name="IsSearchAPI"
                            [(ngModel)]="KhamBenh_ToaThuocService.BaseParameter.IsSearchAPI" />
                        <span>Tìm kiếm dữ liệu / Tìm trên giao diện</span>
                    </label>
                </div>
                <div class="col s12 m12 l6">
                    <input [(ngModel)]="KhamBenh_ToaThuocService.BaseParameter.SearchString" placeholder="Tìm ..."
                        class="form-control" (keyup.enter)="KhamBenh_ToaThuocSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="KhamBenh_ToaThuocSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #KhamBenh_ToaThuocSort="matSort"
                        [dataSource]="KhamBenh_ToaThuocService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="KhamBenh_ToaThuocPaginator">
                                    {{
                                    KhamBenh_ToaThuocPaginator.pageSize *
                                    KhamBenh_ToaThuocPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="KhamBenh_ToaThuocSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="KhamBenh_ToaThuocDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="KhamBenh_ToaThuoc_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Toa thuốc</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.KhamBenh_ToaThuoc_Id}}" class="link-primary"
                                    routerLink="/KhamBenhToaThuocInfo/{{element.KhamBenh_ToaThuoc_Id}}"><b>{{element.KhamBenh_ToaThuoc_Id}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SoThuTuToa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Số thứ tự toa</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.SoThuTuToa}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="LoaiToaThuoc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Loại toa thuốc</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.LoaiToaThuoc}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="KhamBenh_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Khám bệnh</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.KhamBenh_Id}}" class="link-primary"
                                    routerLink="/KhamBenhInfo/{{element.KhamBenh_Id}}"><b>{{element.KhamBenh_Id}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="BacSi_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bác sĩ</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.BacSi_Id}}" class="link-primary"
                                    routerLink="/DSNhanVienInfo/{{element.BacSi_Id}}"><b>{{element.BacSi_Id}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="KhoXuat_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Kho xuất</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.KhoXuat_Id}}" class="link-primary"
                                    routerLink="/DMKhoDuoc"><b>{{element.KhoXuatName}}</b></a>
                            </td>
                        </ng-container>                        
                        <ng-container matColumnDef="ThoiGianTao">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian tạo</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ThoiGianTao | date:'dd/MM/yyyy HH:mm:ss'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ThoiGianToaThuoc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian toa thuốc</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ThoiGianToaThuoc | date:'dd/MM/yyyy HH:mm:ss'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="HuyToaThuoc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hủy toa thuốc</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.HuyToaThuoc}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="GhiChu">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ghi chú</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.GhiChu}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ChungTuPhatThuoc_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Chứng từ phát thuốc</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.ChungTuPhatThuoc_Id}}" class="link-primary"
                                    routerLink="/ChungTuPhatThuocInfo/{{element.ChungTuPhatThuoc_Id}}"><b>{{element.ChungTuPhatThuoc_Id}}</b></a>
                            </td>
                        </ng-container>                      
                        <ng-container matColumnDef="NgayTao">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.NgayTao | date:'dd/MM/yyyy HH:mm:ss'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NguoiTao_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Người tạo</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.NguoiTao_Id}}" class="link-primary"
                                    routerLink="/SysUsersInfo/{{element.NguoiTao_Id}}"><b>{{element.NguoiTaoName}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NgayCapNhat">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày sửa cuối</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.NgayCapNhat | date:'dd/MM/yyyy HH:mm:ss'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NguoiCapNhat_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Người sửa cuối</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" title="{{element.NguoiCapNhat_Id}}" class="link-primary"
                                    routerLink="/SysUsersInfo/{{element.NguoiCapNhat_Id}}"><b>{{element.NguoiCapNhatName}}</b></a>
                            </td>
                        </ng-container>                      

                        <tr mat-header-row *matHeaderRowDef="KhamBenh_ToaThuocService.DisplayColumns002">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: KhamBenh_ToaThuocService.DisplayColumns002;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #KhamBenh_ToaThuocPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="KhamBenh_ToaThuocService.IsShowLoading"></app-loading>