<div class="row">
    <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">Biểu mẫu:
                        <b>{{DanhMucBieuMauService.FormData.Name}} [{{DanhMucBieuMauService.FormData.ID}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/DuAn" title="Dự án">Dự án</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/DanhMucBieuMau" title="Biểu mẫu">Biểu mẫu</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-data-tables">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card card card-default scrollspy">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s6 m6 l3">
                                <a title="Lưu thay đổi" (click)="DanhMucBieuMauSave()"
                                    class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-4 mr-1 mb-2"><i
                                        class="material-icons">save</i></a>
                               
                               
                            </div>
                            <div class="col s6 m6 l3">
                                <label>
                                    <input type="checkbox" class="form-check-input" name="Active"
                                        [(ngModel)]="DanhMucBieuMauService.FormData.Active" />
                                    <span>Kích hoạt</span>
                                </label>
                            </div>
                            <div class="col s6 m6 l3">
                                <label>
                                    <input type="checkbox" class="form-check-input" name="IsTamUng"
                                        [(ngModel)]="DanhMucBieuMauService.FormData.IsTamUng" />
                                    <span>Tạm ứng</span>
                                </label>
                            </div>
                            <!-- <div class="col s6 m6 l7">
                                <label>
                                    <input type="checkbox" class="form-check-input" name="Active"
                                        [(ngModel)]="DanhMucBieuMauService.FormData.Active" />
                                    <span>Kích hoạt</span>
                                </label>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l5">
                                <div>
                                    <label class="form-label">Tiêu đề</label>
                                    <input name="Name" [(ngModel)]="DanhMucBieuMauService.FormData.Name"
                                        placeholder="Tiêu đề" type="text" class="form-control">
                                </div>
                                <div>
                                    <label class="form-label">Mã quản lý</label>
                                    <input name="Code" [(ngModel)]="DanhMucBieuMauService.FormData.Code"
                                        placeholder="Mã quản lý" type="text" class="form-control">
                                </div>
                                <div>
                                    <label class="form-label">Hệ số</label>
                                    <input name="HeSo" [(ngModel)]="DanhMucBieuMauService.FormData.HeSo"
                                        placeholder="Hệ số" type="number" class="form-control">
                                </div>
                                <div>
                                    <label class="form-label">Sắp xếp</label>
                                    <input name="SortOrder" [(ngModel)]="DanhMucBieuMauService.FormData.SortOrder"
                                        placeholder="Sắp xếp" type="number" class="form-control">
                                </div>
                                <div>
                                    <label class="form-label">Biểu mẫu (.doc nếu có)</label>
                                    <br />
                                    <input class="form-control" type="file"
                                        (change)="DanhMucBieuMauChangeFile($event.target.files)">
                                </div>
                            </div>
                            <div class="col s12 m12 l7">
                                <ck-editor [config]="{'height': 300, 'width': 1000, 'versionCheck': false}"
                                    name="HTMLContent" [(ngModel)]="DanhMucBieuMauService.FormData.HTMLContent"
                                    skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="DanhMucBieuMauService.IsShowLoading"></app-loading>