<div class="section" id="user-profile">
    <div class="row">       
        <div class="col s12 m12 l4" style="text-align: center;">
            <img src="image/logo001.png" class="responsive-img">
        </div>
        <div class="col s12 m12 l8" style="text-align: center; font-size: 30px; font-weight: bolder; color: #000;">
            <p>
                {{ManHinhThongBaoService.FormData.Description}}
            </p>
        </div>
    </div>
    <div class="row">
        <table>
            <tr style="border: 0px;">
                <td style="width: calc(100% - 1038px); vertical-align: top;">
                    <table class="striped">
                        <thead class="yellow darken-4 white-text">
                            <tr>
                                <th style="width: 50%; text-align: center; font-size: 40px;">Quầy</th>
                                <th style="width: 50%; text-align: center; font-size: 40px;">Số thứ tự</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of DanhMucQuayDichVuService.List01; index as i">
                            <tr *ngIf="i % 2 == 0" class="blue accent-1 white-text">
                                <td style="text-align: center; font-size: 70px; font-weight: bolder; padding: 0px;">
                                    {{item.Code}}</td>
                                <td style="text-align: center; font-size: 70px; font-weight: bolder; padding: 0px;">
                                    {{item.Display}}</td>
                            </tr>
                            <tr *ngIf="i % 2 == 1" class="light-blue lighten-4 white-text">
                                <td style="text-align: center; font-size: 70px; font-weight: bolder; padding: 0px;">
                                    {{item.Code}}</td>
                                <td style="text-align: center; font-size: 70px; font-weight: bolder; padding: 0px;">
                                    {{item.Display}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width: 1038px; vertical-align: top;">
                    <img *ngIf="ManHinhTapTinDinhKemService.FormData.IsHinhAnh==true" width="1038" height="584"
                        [src]="videoSrc" />
                    <video *ngIf="ManHinhTapTinDinhKemService.FormData.IsHinhAnh==false" type="video/mp4" width="1038"
                        height="584" [src]="videoSrc" controls loop muted autoplay oncanplay="this.play()"
                        onloadedmetadata="this.muted = true">
                    </video>                   
                </td>
            </tr>
        </table>      
    </div>
</div>
<app-loading *ngIf="GoiSoChiTietService.IsShowLoading"></app-loading>