<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">Users:
                        <b>{{Sys_UsersService.FormData.User_Name}} [{{Sys_UsersService.FormData.User_Code}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital System">eHospital System</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/SysUsers" title="Users">
                                Users
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l2">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;"><i
                                class="material-icons">more</i></a>
                        <!-- <a title="Thêm mới" (click)="Sys_UsersAdd()" style="color: green;"><i
                                class="material-icons">add_box</i></a> -->
                        <a title="Lưu thay đổi" (click)="Sys_UsersSave()" style="color:#2196f3;"><i
                                class="material-icons">save</i></a>
                    </div>
                    <div class="col s6 m6 l2">
                        <label>
                            <input type="checkbox" class="form-check-input" name="Suspend"
                                [(ngModel)]="Sys_UsersService.FormData.Suspend" />
                            <span>Đình chỉ</span>
                        </label>
                    </div>
                    <div class="col s6 m6 l2">
                        <label>
                            <input type="checkbox" class="form-check-input" name="TrangThaiSuspend"
                                [(ngModel)]="Sys_UsersService.FormData.TrangThaiSuspend" />
                            <span>Trạng thái Đình chỉ</span>
                        </label>
                    </div>
                    <div class="col s6 m6 l2">
                        <label>
                            <input type="checkbox" class="form-check-input" name="Encryption_Password"
                                [(ngModel)]="Sys_UsersService.FormData.Encryption_Password" />
                            <span>Mã hóa</span>
                        </label>
                    </div>
                    <div class="col s6 m6 l2">
                        <label>
                            <input type="checkbox" class="form-check-input" name="StrongPassword"
                                [(ngModel)]="Sys_UsersService.FormData.StrongPassword" />
                            <span>Mật khẩu mạnh</span>
                        </label>
                    </div>
                    <div class="col s6 m6 l2">
                        <label>
                            <input type="checkbox" class="form-check-input" name="IsLogin"
                                [(ngModel)]="Sys_UsersService.FormData.IsLogin" />
                            <span>IsLogin</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l4">
                        <div>
                            <label>User_Code</label>
                            <input placeholder="User_Code" [(ngModel)]="Sys_UsersService.FormData.User_Code"
                                name="Sys_UsersService.FormData.User_Code" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>User_Name</label>
                            <input placeholder="User_Name" [(ngModel)]="Sys_UsersService.FormData.User_Name"
                                name="Sys_UsersService.FormData.User_Name" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>User_Password</label>
                            <input placeholder="User_Password" [(ngModel)]="Sys_UsersService.FormData.User_Password"
                                name="Sys_UsersService.FormData.User_Password" type="password" class="form-control">
                        </div>      
                        <div>
                            <label>User_Position</label>
                            <input placeholder="User_Position" [(ngModel)]="Sys_UsersService.FormData.User_Position"
                                name="Sys_UsersService.FormData.User_Position" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>Latin_Name</label>
                            <input placeholder="Latin_Name" [(ngModel)]="Sys_UsersService.FormData.Latin_Name"
                                name="Sys_UsersService.FormData.Latin_Name" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>EmailAddress</label>
                            <input placeholder="EmailAddress" [(ngModel)]="Sys_UsersService.FormData.EmailAddress"
                                name="Sys_UsersService.FormData.EmailAddress" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>PhoneNumber</label>
                            <input placeholder="PhoneNumber" [(ngModel)]="Sys_UsersService.FormData.PhoneNumber"
                                name="Sys_UsersService.FormData.PhoneNumber" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>FaxNumber</label>
                            <input placeholder="FaxNumber" [(ngModel)]="Sys_UsersService.FormData.FaxNumber"
                                name="Sys_UsersService.FormData.FaxNumber" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>Language_Id</label>
                            <input placeholder="Language_Id" [(ngModel)]="Sys_UsersService.FormData.Language_Id"
                                name="Sys_UsersService.FormData.Language_Id" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>Domain_Id</label>
                            <input placeholder="Domain_Id" [(ngModel)]="Sys_UsersService.FormData.Domain_Id"
                                name="Sys_UsersService.FormData.Domain_Id" type="text" class="form-control">
                        </div>   
                    </div>
                    <div class="col s12 m12 l4">
                        <div>
                            <label>UserOption1</label>
                            <input placeholder="UserOption1" [(ngModel)]="Sys_UsersService.FormData.UserOption1"
                                name="Sys_UsersService.FormData.UserOption1" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>UserOption2</label>
                            <input placeholder="UserOption2" [(ngModel)]="Sys_UsersService.FormData.UserOption2"
                                name="Sys_UsersService.FormData.UserOption2" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>UserOption3</label>
                            <input placeholder="UserOption3" [(ngModel)]="Sys_UsersService.FormData.UserOption3"
                                name="Sys_UsersService.FormData.UserOption3" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>UserOption4</label>
                            <input placeholder="UserOption4" [(ngModel)]="Sys_UsersService.FormData.UserOption4"
                                name="Sys_UsersService.FormData.UserOption4" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>UserOption5</label>
                            <input placeholder="UserOption5" [(ngModel)]="Sys_UsersService.FormData.UserOption5"
                                name="Sys_UsersService.FormData.UserOption5" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>UserOption6</label>
                            <input placeholder="UserOption6" [(ngModel)]="Sys_UsersService.FormData.UserOption6"
                                name="Sys_UsersService.FormData.UserOption6" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>UserOption7</label>
                            <input placeholder="UserOption7" [(ngModel)]="Sys_UsersService.FormData.UserOption7"
                                name="Sys_UsersService.FormData.UserOption7" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>UserOption8</label>
                            <input placeholder="UserOption8" [(ngModel)]="Sys_UsersService.FormData.UserOption8"
                                name="Sys_UsersService.FormData.UserOption8" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>UserOption9</label>
                            <input placeholder="UserOption9" [(ngModel)]="Sys_UsersService.FormData.UserOption9"
                                name="Sys_UsersService.FormData.UserOption9" type="text" class="form-control">
                        </div>   
                        <div>
                            <label>StrongPassword</label>
                            <input placeholder="StrongPassword" [(ngModel)]="Sys_UsersService.FormData.StrongPassword"
                                name="Sys_UsersService.FormData.StrongPassword" type="number" class="form-control">
                        </div>  
                    </div>
                    <div class="col s12 m12 l4">
                        <div>
                            <label>Creation_Date</label>
                            <input placeholder="Creation_Date" [(ngModel)]="Sys_UsersService.FormData.Creation_Date"
                                name="Sys_UsersService.FormData.Creation_Date" type="text" class="form-control" disabled>
                        </div>   
                        <div>
                            <label>Created_By</label>
                            <input placeholder="Created_By" [(ngModel)]="Sys_UsersService.FormData.Created_By"
                                name="Sys_UsersService.FormData.Created_By" type="text" class="form-control" disabled>
                        </div>   
                        <div>
                            <label>Last_Update_Date</label>
                            <input placeholder="Last_Update_Date" [(ngModel)]="Sys_UsersService.FormData.Last_Update_Date"
                                name="Sys_UsersService.FormData.Last_Update_Date" type="text" class="form-control" disabled>
                        </div>   
                        <div>
                            <label>Last_Updated_By</label>
                            <input placeholder="Last_Updated_By" [(ngModel)]="Sys_UsersService.FormData.Last_Updated_By"
                                name="Sys_UsersService.FormData.Last_Updated_By" type="text" class="form-control" disabled>
                        </div>   
                        <div>
                            <label>Login_Time</label>
                            <input placeholder="Login_Time" [(ngModel)]="Sys_UsersService.FormData.Login_Time"
                                name="Sys_UsersService.FormData.Login_Time" type="text" class="form-control" disabled>
                        </div> 
                        <div>
                            <label>Login_Hostname</label>
                            <input placeholder="Login_Hostname" [(ngModel)]="Sys_UsersService.FormData.Login_Hostname"
                                name="Sys_UsersService.FormData.Login_Hostname" type="text" class="form-control" disabled>
                        </div> 
                        <div>
                            <label>Last_Login_Time</label>
                            <input placeholder="Last_Login_Time" [(ngModel)]="Sys_UsersService.FormData.Last_Login_Time"
                                name="Sys_UsersService.FormData.Last_Login_Time" type="text" class="form-control" disabled>
                        </div> 
                        <div>
                            <label>Last_Login_Hostname</label>
                            <input placeholder="Last_Login_Hostname" [(ngModel)]="Sys_UsersService.FormData.Last_Login_Hostname"
                                name="Sys_UsersService.FormData.Last_Login_Hostname" type="text" class="form-control" disabled>
                        </div> 
                        <div>
                            <label>Expiration_Days</label>
                            <input placeholder="Expiration_Days" [(ngModel)]="Sys_UsersService.FormData.Expiration_Days"
                                name="Sys_UsersService.FormData.Expiration_Days" type="text" class="form-control" disabled>
                        </div> 
                        <div>
                            <label>Expiration_Date</label>
                            <input placeholder="Expiration_Date" [(ngModel)]="Sys_UsersService.FormData.Expiration_Date"
                                name="Sys_UsersService.FormData.Expiration_Date" type="text" class="form-control" disabled>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="Sys_UsersService.IsShowLoading"></app-loading>