<div class="section" id="user-profile" style="margin: 0px; padding: 0px;">
    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col s12 m12 l12" style="margin: 0px; padding: 0px;">  
            <table class="striped" style="width: 100%;">    
                <thead class="yellow darken-4 white-text" style="background-color: transparent; border-width: 0px; border-right: 1px solid #ffffff;">
                    <tr>
                        <th colspan="2" style="text-transform: uppercase; text-align: center; font-size: 12vh; font-weight: bolder; padding: 0px; line-height: 14vh;">
                            {{DanhMucQuayDichVuService.FormData01.Name}}
                        </th>
                    </tr>
                </thead>          
                <tbody *ngFor="let item of GoiSoChiTietService.List01; index as i" style="background-color: transparent; border-width: 0px; border-right: 1px solid #ffffff;">                   
                    <tr style="background-color: #4882b2;">                       
                        <td
                        style="letter-spacing: 0px; color: #fffc00; text-align: left; font-size: 11vh; font-weight: bolder; padding: 0px; line-height: 16vh;">
                            {{item.HoTen}}</td>
                            <td
                            style="letter-spacing: 0px; color: #fffc00; text-align: center; font-size: 11vh; font-weight: bolder; padding: 0px; line-height: 16vh;">
                                {{item.NamSinh}}</td>
                    </tr>                    
                </tbody>
            </table>         
            <table class="striped" style="width: 100%;">    
                <thead class="yellow darken-4 white-text" style="background-color: transparent; border-width: 0px; border-right: 1px solid #ffffff;">
                    <tr>
                        <th colspan="3" style="text-transform: uppercase; text-align: center; font-size: 6vh; font-weight: bolder; padding: 0px; line-height: 8vh;">
                            Lượt khám tiếp theo
                        </th>
                    </tr>
                </thead>          
                <tbody *ngFor="let item of GoiSoChiTietService.List02; index as i" style="background-color: transparent; border-width: 0px; border-right: 1px solid #ffffff;">                   
                    <tr class="light-blue darken-2 white-text" style="border-bottom: #ffffff solid 1px;">
                        <td
                        style="letter-spacing: 0px; color: #ffffff; text-align: center; font-size: 10vh; font-weight: bolder; padding: 0px; line-height: 12vh; width: 10%;">
                        {{i+1}}</td>
                        <td
                            style="letter-spacing: 0px; color: #ffffff; text-align: left; font-size: 10vh; font-weight: bolder; padding: 0px; line-height: 12vh;">
                            {{item.HoTen}}</td>
                            <td
                            style="letter-spacing: 0px; color: #ffffff; text-align: center; font-size: 10vh; font-weight: bolder; padding: 0px; line-height: 12vh;">
                            {{item.NamSinh}}</td>
                    </tr>                     
                </tbody>
            </table>      
        </div>              
    </div>
    <div class="row">
        <div class="col s12 m12 l12" style="margin: 0px; padding: 0px;">
            <a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a>
        </div>
    </div>
</div>
<app-loading *ngIf="GoiSoChiTietService.IsShowLoading"></app-loading>