<div class="section" id="user-profile">
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="card-alert card green darken-3">
                <div class="card-content white-text">
                    <p style="text-align: center; font-size: 24px;">
                        Tiếp xúc vui vẻ, bệnh khoẻ mỗi ngày</p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4" style="text-align: center;">
            <img src="image/logo001.png" class="responsive-img">
        </div>
        <div class="col s12 m12 l4">
            <div class="card-alert card grey darken-4">
                <div class="card-content white-text">
                    <p style="text-align: center; font-size: 24px;">
                        {{GoiSoChiTietService.BaseParameter.KetThuc
                        |
                        date:'dd/MM/yyyy HH:mm:ss'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-data-tables">
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card card card-default scrollspy">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s6 m6 l6">
                                <a title="Lưu thay đổi" (click)="GoiSoChiTietSave()" style="width: 100%;"
                                    class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-4 mr-1 mb-2"><i
                                        class="material-icons">save</i> Lưu thay đổi</a>
                            </div>
                            <div class="col s6 m6 l6">
                                <label>
                                    <input type="checkbox" class="form-check-input" name="GioiTinh"
                                        [(ngModel)]="GoiSoChiTietService.FormData.GioiTinh" />
                                    <span>Nam/Nữ</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6">
                                <div style="padding-top: 9px;">
                                    <label>Dịch vụ khám bệnh (nếu có)</label>
                                    <select class="browser-default form-select" name="DanhMucDichVuID"
                                        [(ngModel)]="GoiSoChiTietService.FormData.DanhMucDichVuID">
                                        <option *ngFor="let item of DanhMucDichVuService.List;" [value]="item.ID">
                                            {{item.Name}}</option>
                                    </select>
                                </div>
                                <div>
                                    <label>Số thứ tự (nếu có, nhấn Enter để tìm kiếm)</label>
                                    <input placeholder="Số thứ tự (nếu có)"
                                        [(ngModel)]="GoiSoChiTietService.FormData.NgayCapSoSoThuTuString"
                                        name="GoiSoChiTietService.FormData.NgayCapSoSoThuTuString" type="text"
                                        class="form-control" autofocus
                                        (keypress)="NgayCapSoSoThuTuStringKeyPress($event)">
                                </div>
                                <div>
                                    <label>Mã quản lý (nếu có, nhấn Enter để tìm kiếm)</label>
                                    <input placeholder="Mã quản lý (nếu có)"
                                        [(ngModel)]="GoiSoChiTietService.FormData.Code"
                                        name="GoiSoChiTietService.FormData.Code" type="text" class="form-control"
                                        (keypress)="CodeKeyPress($event)">
                                </div>
                                <div>
                                    <label>BHYT (nếu có, nhấn Enter để tìm kiếm)</label>
                                    <input placeholder="BHYT (nếu có)" [(ngModel)]="GoiSoChiTietService.FormData.BHYT"
                                        name="GoiSoChiTietService.FormData.BHYT" type="text" class="form-control"
                                        (keypress)="BHYTKeyPress($event)">
                                </div>
                                <div>
                                    <label>CCCD (nếu có, nhấn Enter để tìm kiếm)</label>
                                    <input placeholder="CCCD (nếu có)" [(ngModel)]="GoiSoChiTietService.FormData.CCCD"
                                        name="GoiSoChiTietService.FormData.CCCD" type="text" class="form-control"
                                        (keypress)="CCCDKeyPress($event)">
                                </div>
                                <div>
                                    <label>Điện thoại (nếu có, nhấn Enter để tìm kiếm)</label>
                                    <input placeholder="Điện thoại (nếu có)"
                                        [(ngModel)]="GoiSoChiTietService.FormData.DienThoai"
                                        name="GoiSoChiTietService.FormData.DienThoai" type="text" class="form-control"
                                        (keypress)="DienThoaiKeyPress($event)">
                                </div>

                            </div>
                            <div class="col s12 m12 l6">
                                <div>
                                    <label>Họ tên</label>
                                    <input placeholder="Họ tên" [(ngModel)]="GoiSoChiTietService.FormData.HoTen"
                                        name="GoiSoChiTietService.FormData.HoTen" type="text" class="form-control">
                                </div>
                                <div>
                                    <label>Năm sinh</label>
                                    <input placeholder="Năm sinh" [(ngModel)]="GoiSoChiTietService.FormData.NamSinh"
                                        name="GoiSoChiTietService.FormData.NamSinh" type="number" class="form-control">
                                </div>
                                <div>
                                    <label>Địa chỉ đang ở (nếu có)</label>
                                    <input placeholder="Địa chỉ đang ở (nếu có)"
                                        [(ngModel)]="GoiSoChiTietService.FormData.DiaChi"
                                        name="GoiSoChiTietService.FormData.DiaChi" type="text" class="form-control">
                                </div>
                                <div style="padding-top: 1px;">
                                    <label>Tỉnh thành</label>
                                    <select class="browser-default form-select" name="DanhMucTinhThanhID"
                                        [(ngModel)]="GoiSoChiTietService.FormData.DanhMucTinhThanhID"
                                        (change)="DanhMucTinhThanhChange()">
                                        <option *ngFor="let item of DanhMucTinhThanhService.List;" [value]="item.ID">
                                            {{item.Name}}</option>
                                    </select>
                                </div>
                                <div style="padding-top: 9px;">
                                    <label>Quận huyện</label>
                                    <select class="browser-default form-select" name="DanhMucQuanHuyenID"
                                        [(ngModel)]="GoiSoChiTietService.FormData.DanhMucQuanHuyenID"
                                        (change)="DanhMucQuanHuyenChange()">
                                        <option *ngFor="let item of DanhMucQuanHuyenService.List;" [value]="item.ID">
                                            {{item.Name}}</option>
                                    </select>
                                </div>
                                <div style="padding-top: 9px;">
                                    <label>Xã phường</label>
                                    <select class="browser-default form-select" name="DanhMucXaPhuongID"
                                        [(ngModel)]="GoiSoChiTietService.FormData.DanhMucXaPhuongID">
                                        <option *ngFor="let item of DanhMucXaPhuongService.List;" [value]="item.ID">
                                            {{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card card card-default scrollspy">
                    <div class="card-content">
                        <div class="col s12 m12 l12">
                            <input [(ngModel)]="DanhMucPhongKhamService.BaseParameter.SearchString" placeholder="Tìm ..."
                                class="form-control" (keyup.enter)="DanhMucPhongKhamSearch()">
                        </div>                        
                        <div class="KhungOverflow">
                            <table mat-table matSort #DanhMucPhongKhamSort="matSort"
                                [dataSource]="DanhMucPhongKhamService.DataSource">
                                <ng-container matColumnDef="STT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        STT
                                    </th>
                                    <td mat-cell *matCellDef="let element; index as i;">
                                        <div *ngIf="DanhMucPhongKhamPaginator">
                                            {{DanhMucPhongKhamPaginator.pageSize *
                                            DanhMucPhongKhamPaginator.pageIndex + i + 1}}
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="ParentName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Khu vực
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.ParentName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="DanhMucKhoaChuyenMonName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Khoa chuyên môn
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.DanhMucKhoaChuyenMonName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phòng khám
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Name}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="SortOrder">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng cộng
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.SortOrder}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Active">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Chọn
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <label>
                                            <input class="form-check-input" type="checkbox" name="Active{{element.ID}}"
                                                [(ngModel)]="element.Active" (change)="DanhMucPhongKhamActiveChange(element)">
                                            <span></span>
                                        </label>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DanhMucPhongKhamService.DisplayColumns04">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: DanhMucPhongKhamService.DisplayColumns04;">
                                </tr>
                            </table>
                            <mat-paginator #DanhMucPhongKhamPaginator="matPaginator" [pageSizeOptions]="[10,20,50,100]"
                                [pageSize]="6" [showFirstLastButtons]></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="GoiSoChiTietService.IsShowLoading"></app-loading>