<div class="section" id="user-profile">
    <div class="row">
        <div class="col s12 m6 l3">
            <img src="image/logo001.png">
            <div style="color: #000000; font-size: 3vh;">Bệnh nhân ưu tiên</div>
            <ul style="margin-top: -5px; margin-bottom: -5px;">
                <li style="color: #000000; font-size: 2vh;">1. Người khuyết tật nặng</li>
                <li style="color: #000000; font-size: 2vh;">2. Người từ đủ 75 tuổi trở lên</li>
                <li style="color: #000000; font-size: 2vh;">3. Người có công với Cách mạng</li>
                <li style="color: #000000; font-size: 2vh;">4. Phụ nữ mang thai</li>
            </ul>
            <div style="font-size: 2vh; color: crimson;">Quý bệnh nhân vui lòng chỉ lấy 01 số thứ tự và đến chờ tại
                Quầy tiếp
                nhận</div>
            <div style="font-size: 2vh; color: crimson;">Xin cảm ơn!</div>
        </div>
        <div class="col s12 m6 l9">
            <input id="Code" name="GoiSoService.FormData.Code" [(ngModel)]="GoiSoService.FormData.Code"
                placeholder="Mã y tế-BHYT-CCCD" type="text"
                style="text-align: right; font-size: 8vh; height: 10vh; color:darkorange;" autofocus
                (change)="GoiSoChiTietCodeChange()" (keyup.enter)="GoiSoChiTietCodeChange()">
            <input id="Display" name="GoiSoService.FormData.Display" [(ngModel)]="GoiSoService.FormData.Display"
                placeholder="Zalo" type="number"
                style="text-align: right; font-size: 8vh; height: 10vh; color:darkorange;">
            <div style="color: #000000; font-size: 3vh; text-transform: uppercase;">Bệnh nhân có Bảo hiểm y tế</div>
            <a *ngFor="let item of DanhMucDichVuService.List001;" (click)="SaveByDanhMucDichVuIDAsync(item.ID)"
                class="waves-effect waves-light btn btn-large gradient-45deg-light-blue-cyan mb-1"
                style="width: 100%; font-size: 6vh; height: 10vh; align-content: center;">{{item.Display}}</a>
            <div style="color: #000000; font-size: 3vh; text-transform: uppercase;">Bệnh nhân không Bảo hiểm y tế</div>
            <a *ngFor="let item of DanhMucDichVuService.List002;" (click)="SaveByDanhMucDichVuIDAsync(item.ID)"
                class="waves-effect waves-light btn btn-large gradient-45deg-light-blue-cyan mb-1"
                style="width: 100%; font-size: 6vh; height: 10vh; align-content: center;">{{item.Display}}</a>
        </div>
    </div>
</div>
<app-loading *ngIf="GoiSoService.IsShowLoading"></app-loading>