<div class="app-body">
    <div class="row">
        <div class="col-xxl-12">
            <div class="card" style="margin-left: 1px;">
                <div class="card-body">
                    <div class="custom-tabs-container">
                        <ul class="nav nav-tabs justify-content-end" id="customTab5" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab-DuAn" data-bs-toggle="tab" href="#DuAn" role="tab"
                                    aria-controls="DuAn" aria-selected="true">
                                    <span class="badge bg-info" style="font-size: 12px;">Dự án - Phân
                                        bổ</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="customTabContent">
                            <div class="tab-pane fade show active" id="DuAn" role="tabpanel">
                                <div class="row gx-4">
                                    <div class="col-lg-3 col-sm-12 col-12">
                                        <label *ngIf="!NotificationService.IsMobile" class="form-label">Bắt đầu</label>
                                        <input [ngModel]="DuAnService.BaseParameter.BatDau | date:'yyyy-MM-dd'"
                                            style="text-align: right;" (ngModelChange)="DateBatDau($event)"
                                            [ngModelOptions]="{ updateOn: 'blur' }" type="date" class="form-control"
                                            autocomplete="off">
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-12">
                                        <label *ngIf="!NotificationService.IsMobile" class="form-label">Kết thúc</label>
                                        <input [ngModel]="DuAnService.BaseParameter.KetThuc | date:'yyyy-MM-dd'"
                                            style="text-align: right;" (ngModelChange)="DateKetThuc($event)"
                                            [ngModelOptions]="{ updateOn: 'blur' }" type="date" class="form-control"
                                            autocomplete="off">
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12">
                                        <label *ngIf="!NotificationService.IsMobile" class="form-label">.</label>
                                        <input [(ngModel)]="DuAnService.BaseParameter.SearchString"
                                            placeholder="Tìm ..." class="form-control" (keyup.enter)="DuAnSearch()">
                                    </div>
                                    <div class="col-lg-1 col-sm-12 col-12">
                                        <label *ngIf="!NotificationService.IsMobile" class="form-label">.</label>
                                        <a style="width: 100%;" class="btn btn-success" title="Tìm"
                                            (click)="DuAnSearch()"><i class="bi bi-search"></i></a>
                                    </div>
                                    <div class="col-lg-1 col-sm-12 col-12">
                                        <label *ngIf="!NotificationService.IsMobile" class="form-label">.</label>
                                        <a style="width: 100%;" class="btn btn-success" title="Thêm mới"
                                            (click)="DuAnAdd(0)"><i class="bi bi-plus"></i></a>
                                    </div>
                                </div>
                                <div class="card mb-4 card-info">
                                    <div class="card-header">
                                        <h5 class="card-title text-white">Danh sách
                                            <span *ngIf="DuAnService.List">({{DuAnService.List.length}}
                                                items)</span>
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-outer">
                                            <div class="table-responsive">
                                                <table *ngIf="!NotificationService.IsMobile" mat-table matSort
                                                    #DuAnSort="matSort" [dataSource]="DuAnService.DataSource"
                                                    class="table table-striped m-0">
                                                    <ng-container matColumnDef="STT">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            STT
                                                        </th>
                                                        <td mat-cell *matCellDef="let element; index as i;"
                                                            style="text-align: center;">
                                                            <div *ngIf="DuAnPaginator">
                                                                {{DuAnPaginator.pageSize *
                                                                DuAnPaginator.pageIndex + i + 1}}
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="ID">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <a style="cursor: pointer;" title="{{element.Name}}"
                                                                class="link-primary"
                                                                (click)="DuAnAdd(element.ID)"><b>{{element.ID}}</b></a>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="NgayBatDau">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bắt
                                                            đầu</th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div *ngIf="element.NgayBatDau" style="text-align: right;">
                                                                <a style="cursor: pointer;" title="{{element.Name}}"
                                                                    class="link-primary"
                                                                    (click)="DuAnAdd(element.ID)"><b>{{element.NgayBatDau
                                                                        |
                                                                        date:'dd/MM/yyyy'}}</b></a>
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="NgayKetThuc">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kết
                                                            thúc</th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div *ngIf="element.NgayKetThuc" style="text-align: right;">
                                                                <a style="cursor: pointer;" title="{{element.Name}}"
                                                                    class="link-primary"
                                                                    (click)="DuAnAdd(element.ID)"><b>{{element.NgayKetThuc
                                                                        |
                                                                        date:'dd/MM/yyyy'}}</b></a>
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="NgayKy">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày ký</th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div *ngIf="element.NgayKy" style="text-align: right;">
                                                                <a style="cursor: pointer;" title="{{element.Name}}"
                                                                    class="link-primary"
                                                                    (click)="DuAnAdd(element.ID)"><b>{{element.NgayKy
                                                                        |
                                                                        date:'dd/MM/yyyy'}}</b></a>
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="Name">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tiêu đề
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            {{element.Name}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="SoHoSo">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số hồ sơ
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            {{element.SoHoSo}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="SoQuyetDinh">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số quyết
                                                            định</th>
                                                        <td mat-cell *matCellDef="let element">
                                                            {{element.SoQuyetDinh}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="BenDauTuName">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bên A
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            {{element.BenDauTuName}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="BenThucHienName">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bên B
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            {{element.BenThucHienName}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="ThoiHan">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời hạn (tháng)
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div
                                                                style="text-align: right; font-weight: bold;">
                                                                {{element.ThoiHan |
                                                                number:
                                                                '1.0-0'}}
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="MucDauTu">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mức đầu tư
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div
                                                                style="text-align: right; font-weight: bold;">
                                                                {{element.MucDauTu |
                                                                number:
                                                                '1.0-0'}}
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="GhiCo">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ghi có
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div
                                                                style="text-align: right; font-weight: bold; color: green;">
                                                                {{element.GhiCo |
                                                                number:
                                                                '1.0-0'}}
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="GhiNo">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ghi nợ
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div
                                                                style="text-align: right; font-weight: bold; color: red;">
                                                                {{element.GhiNo |
                                                                number:
                                                                '1.0-0'}}
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="ConLai">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Còn lại
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div *ngIf="element.ConLai>=0" style="text-align: right; font-weight: bold; color: green;">
                                                                {{element.ConLai |
                                                                number:
                                                                '1.0-0'}}
                                                            </div>
                                                            <div *ngIf="element.ConLai<0" style="text-align: right; font-weight: bold; color: red;">
                                                                {{element.ConLai |
                                                                number:
                                                                '1.0-0'}}
                                                            </div>
                                                        </td>
                                                    </ng-container>                                              
                                                    <ng-container matColumnDef="Save">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <a class="btn btn-danger" (click)="DuAnDelete(element)"
                                                                *ngIf="element.ID>0"><i class="bi bi-trash"></i>
                                                            </a>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="DuAnService.DisplayColumns001">
                                                    </tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: DuAnService.DisplayColumns001;">
                                                    </tr>
                                                </table>
                                                <mat-paginator *ngIf="!NotificationService.IsMobile"
                                                    #DuAnPaginator="matPaginator" [pageSizeOptions]="[10,20,50,100]"
                                                    [pageSize]="6" [showFirstLastButtons]></mat-paginator>
                                                <table *ngIf="NotificationService.IsMobile" mat-table matSort
                                                    #DuAnSort="matSort" [dataSource]="DuAnService.DataSource"
                                                    class="table table-striped m-0">
                                                    <ng-container matColumnDef="STT">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Danh sách
                                                        </th>
                                                        <td mat-cell *matCellDef="let element; index as i;">
                                                            <div class="row gx-4">
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Bắt đầu</label>
                                                                    <br />
                                                                    <a style="cursor: pointer;" title="{{element.Name}}"
                                                                        class="link-primary"
                                                                        (click)="DuAnAdd(element.ID)"><b>{{element.NgayBatDau
                                                                            |
                                                                            date:'dd/MM/yyyy HH:mm:ss'}}</b></a>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>ID</label>
                                                                    <br />
                                                                    <label class="form-label">{{element.ID}}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Tiêu đề</label>
                                                                    <br />
                                                                    <label class="form-label">{{element.Name}}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Số hồ sơ</label>
                                                                    <br />
                                                                    <label class="form-label">{{element.SoHoSo}}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Số quyết định</label>
                                                                    <br />
                                                                    <label
                                                                        class="form-label">{{element.SoQuyetDinh}}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Bên A</label>
                                                                    <br />
                                                                    <label
                                                                        class="form-label">{{element.BenDauTuName}}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Bên B</label>
                                                                    <br />
                                                                    <label
                                                                        class="form-label">{{element.BenThucHienName}}</label>
                                                                </div>                   
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Mức đầu tư</label>
                                                                    <br />
                                                                    <label class="form-label">{{element.MucDauTu |
                                                                        number:'1.0-0'}}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Ghi có</label>
                                                                    <br />
                                                                    <label class="form-label" style="color: green;">{{element.GhiCo |
                                                                        number:'1.0-0'}}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Ghi nợ</label>
                                                                    <br />
                                                                    <label class="form-label" style="color: red;">{{element.GhiNo |
                                                                        number:'1.0-0'}}</label>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <label>Còn lại</label>
                                                                    <br />
                                                                    <label *ngIf="element.ConLai>=0" class="form-label" style="color: green;">{{element.ConLai |
                                                                        number:'1.0-0'}}</label>
                                                                    <label *ngIf="element.ConLai<0" class="form-label" style="color: red;">{{element.ConLai |
                                                                            number:'1.0-0'}}</label>
                                                                </div>                                             
                                                                <div class="col-lg-12 col-sm-12 col-12">
                                                                    <a class="btn btn-danger" style="width: 100%;"
                                                                        (click)="DuAnDelete(element)"
                                                                        *ngIf="element.ID>0"><i class="bi bi-trash"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row
                                                        *matHeaderRowDef="DuAnService.DisplayColumnsMobile">
                                                    </tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: DuAnService.DisplayColumnsMobile;">
                                                    </tr>
                                                </table>
                                                <mat-paginator *ngIf="NotificationService.IsMobile"
                                                    #DuAnPaginator="matPaginator" [pageSizeOptions]="[10,20,50,100]"
                                                    [pageSize]="10000" [showFirstLastButtons]></mat-paginator>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="DuAnService.IsShowLoading"></app-loading>