<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">Thành viên:
                        <b>{{ThanhVienService.FormData.Name}} [{{ThanhVienService.FormData.ID}}]</b>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/ThanhVien" title="Quản trị">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/ThanhVien" title="Thành viên">Thành viên</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l4">
                        <a title="Quay lại" href="javascript:history.back()" style="color: green;"><i
                                class="material-icons">more</i></a>
                        <a title="Thêm mới" (click)="ThanhVienAdd()" style="color: green;"><i
                                class="material-icons">add_box</i></a>
                        <a title="Lưu thay đổi" (click)="ThanhVienSave()" style="color:#2196f3;"><i
                                class="material-icons">save</i></a>
                    </div>
                    <div class="col s6 m6 l4">
                        <label>
                            <input type="checkbox" class="form-check-input" name="Active"
                                [(ngModel)]="ThanhVienService.FormData.Active" />
                            <span>Kích hoạt</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l4">
                        <div>
                            <label>Họ tên</label>
                            <input placeholder="Họ tên" [(ngModel)]="ThanhVienService.FormData.Name"
                                name="ThanhVienService.FormData.Name" type="text" class="form-control">
                        </div>
                        <div>
                            <label>Mã nhân viên</label>
                            <input placeholder="Mã nhân viên" [(ngModel)]="ThanhVienService.FormData.Code"
                                name="ThanhVienService.FormData.Code" type="text" class="form-control">
                        </div>
                        <div>
                            <label>CCCD</label>
                            <input placeholder="CCCD" [(ngModel)]="ThanhVienService.FormData.CCCD"
                                name="ThanhVienService.FormData.CCCD" type="text" class="form-control">
                        </div>
                        <div>
                            <label>Ghi chú</label>
                            <input placeholder="Ghi chú" [(ngModel)]="ThanhVienService.FormData.Note"
                                name="ThanhVienService.FormData.Note" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col s12 m12 l4">
                        <div>
                            <label>Bệnh viện
                                [{{ThanhVienService.FormData.DanhMucBenhVienID}}]</label>
                            <select class="browser-default form-select" name="DanhMucBenhVienID"
                                [(ngModel)]="ThanhVienService.FormData.DanhMucBenhVienID">
                                <option *ngFor="let item of DanhMucBenhVienService.List;" [value]="item.ID">
                                    {{item.Name}} [{{item.ID}}]</option>
                            </select>
                        </div>
                        <div style="padding-top: 10px;">
                            <label>Phòng ban
                                [{{ThanhVienService.FormData.DanhMucPhongBanID}}]</label>
                            <select class="browser-default form-select" name="DanhMucPhongBanID"
                                [(ngModel)]="ThanhVienService.FormData.DanhMucPhongBanID">
                                <option *ngFor="let item of DanhMucPhongBanService.List;" [value]="item.ID">
                                    {{item.Name}} [{{item.ID}}]</option>
                            </select>
                        </div>
                        <div style="padding-top: 10px;">
                            <label>Chức danh
                                [{{ThanhVienService.FormData.DanhMucChucDanhID}}]</label>
                            <select class="browser-default form-select" name="DanhMucChucDanhID"
                                [(ngModel)]="ThanhVienService.FormData.DanhMucChucDanhID">
                                <option *ngFor="let item of DanhMucChucDanhService.List;" [value]="item.ID">
                                    {{item.Name}} [{{item.ID}}]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s12 m12 l4">
                        <div>
                            <label>Phân quyền
                                [{{ThanhVienService.FormData.ParentID}}]</label>
                            <select class="browser-default form-select" name="ParentID"
                                [(ngModel)]="ThanhVienService.FormData.ParentID">
                                <option *ngFor="let item of DanhMucThanhVienService.List;" [value]="item.ID">
                                    {{item.Name}} [{{item.ID}}]</option>
                            </select>
                        </div>
                        <div>
                            <label>Email</label>
                            <input placeholder="Email" [(ngModel)]="ThanhVienService.FormData.Email"
                                name="ThanhVienService.FormData.Email" type="text" class="form-control">
                        </div>
                        <div>
                            <label>Tài khoản (Điện thoại)</label>
                            <input placeholder="Tài khoản (Điện thoại)" [(ngModel)]="ThanhVienService.FormData.TaiKhoan"
                                name="ThanhVienService.FormData.TaiKhoan"
                                [disabled]="ThanhVienService.FormData && ThanhVienService.FormData.ID>0" type="text"
                                class="form-control">
                        </div>
                        <div>
                            <label>Mật khẩu <i class="material-icons" (click)="MatKhauChangeType()"
                                    style="cursor: pointer;">remove_red_eye</i></label>
                            <input placeholder="Mật khẩu" [(ngModel)]="ThanhVienService.FormData.MatKhau"
                                name="ThanhVienService.FormData.MatKhau" [type]="MatKhauIsActive ? 'password' : 'text'"
                                type="password" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="card-title">
                    <h6 class="card-title">Phân quyền Menu
                        <span *ngIf="ThanhVienChucNangService.List">({{ThanhVienChucNangService.List.length}}
                            items)</span>
                    </h6>
                </div>
                <div class="col s12 m12 l8">
                    <input [(ngModel)]="ThanhVienChucNangService.BaseParameter.SearchString" placeholder="Tìm ..."
                        class="form-control" (keyup.enter)="ThanhVienChucNangSearch()">
                </div>
                <div class="col s12 m12 l2">
                    <a style="color: green;" title="Tìm" (click)="ThanhVienChucNangSearch()"><i
                            class="material-icons">play_circle_filled</i></a>
                </div>
                <div class="col s12 m12 l2">
                    <label>
                        <input name="IsThanhVienChucNangActiveAll" [(ngModel)]="IsThanhVienChucNangActiveAll"
                            (change)="ThanhVienChucNangActiveAllChange()" type="checkbox" class="form-check-input" />
                        <span>Tất cả</span>
                    </label>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #ThanhVienChucNangSort="matSort"
                        [dataSource]="ThanhVienChucNangService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;" style="text-align: center;">
                                <div *ngIf="ThanhVienChucNangPaginator">
                                    {{ThanhVienChucNangPaginator.pageSize *
                                    ThanhVienChucNangPaginator.pageIndex + i + 1}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ID}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Menu
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.Name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phân quyền
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="Active{{element.ID}}"
                                        [(ngModel)]="element.Active" (change)="ThanhVienChucNangActiveChange(element)">
                                    <span></span>
                                </label>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="ThanhVienChucNangService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ThanhVienChucNangService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #ThanhVienChucNangPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="6" [showFirstLastButtons]></mat-paginator>

                    <table *ngIf="NotificationService.IsMobile" mat-table matSort #ThanhVienChucNangSort="matSort"
                        [dataSource]="ThanhVienChucNangService.DataSource" class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Danh sách
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div class="row gx-4">
                                    <div class="col s12 m12 l12">
                                        <label>Tiêu đề</label>
                                        <br />
                                        <label class="form-label">{{element.Name}}</label>
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>
                                            <input class="form-check-input" type="checkbox" name="Active{{element.ID}}"
                                                [(ngModel)]="element.Active"
                                                (change)="ThanhVienChucNangActiveChange(element)">
                                            <span>Phân quyền</span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="ThanhVienChucNangService.DisplayColumnsMobile">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ThanhVienChucNangService.DisplayColumnsMobile;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="NotificationService.IsMobile" #ThanhVienChucNangPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="10000" [showFirstLastButtons]></mat-paginator>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="card-title">
                    <h6 class="card-title">Phân quyền Ứng dụng
                        <span *ngIf="ThanhVienUngDungService.List">({{ThanhVienUngDungService.List.length}}
                            items)</span>
                    </h6>
                </div>
                <div class="col s12 m12 l8">
                    <input [(ngModel)]="ThanhVienUngDungService.BaseParameter.SearchString" placeholder="Tìm ..."
                        class="form-control" (keyup.enter)="ThanhVienUngDungSearch()">
                </div>
                <div class="col s12 m12 l2">
                    <a style="color: green;" title="Tìm"
                        (click)="ThanhVienUngDungSearch()"><i class="material-icons">play_circle_filled</i></a>
                </div>
                <div class="col s12 m12 l2">
                    <label>
                        <input name="IsThanhVienUngDungActiveAll" [(ngModel)]="IsThanhVienUngDungActiveAll"
                            (change)="ThanhVienUngDungActiveAllChange()" type="checkbox" class="form-check-input" />
                        <span>Tất cả</span>
                    </label>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #ThanhVienChucNangSort="matSort"
                        [dataSource]="ThanhVienUngDungService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;" style="text-align: center;">
                                <div *ngIf="ThanhVienUngDungPaginator">
                                    {{ThanhVienUngDungPaginator.pageSize *
                                    ThanhVienUngDungPaginator.pageIndex + i + 1}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ID}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ứng dụng
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.Name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phân quyền
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="Active{{element.ID}}"
                                        [(ngModel)]="element.Active" (change)="ThanhVienUngDungActiveChange(element)">
                                    <span></span>
                                </label>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="ThanhVienUngDungService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ThanhVienUngDungService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #ThanhVienUngDungPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="6" [showFirstLastButtons]></mat-paginator>

                    <table *ngIf="NotificationService.IsMobile" mat-table matSort #ThanhVienChucNangSort="matSort"
                        [dataSource]="ThanhVienUngDungService.DataSource" class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Danh sách
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div class="row gx-4">
                                    <div class="col s12 m12 l12">
                                        <label>Tiêu đề</label>
                                        <br />
                                        <label class="form-label">{{element.Name}}</label>
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>
                                            <input class="form-check-input" type="checkbox" name="Active{{element.ID}}"
                                                [(ngModel)]="element.Active"
                                                (change)="ThanhVienUngDungActiveChange(element)">
                                            <span>Phân quyền</span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="ThanhVienUngDungService.DisplayColumnsMobile">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ThanhVienUngDungService.DisplayColumnsMobile;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="NotificationService.IsMobile" #ThanhVienUngDungPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="10000" [showFirstLastButtons]></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="ThanhVienService.IsShowLoading"></app-loading>