<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">Nhật ký trực ban
                        <span *ngIf="TrucBanNhatKyService.List">({{TrucBanNhatKyService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active">Cấu hình
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/TrucBanNhatKy" title="Nhật ký trực ban">Nhật ký trực
                                ban</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="TrucBanNhatKyService.BaseParameter.SearchString" placeholder="Tìm ..."
                        class="form-control" (keyup.enter)="TrucBanNhatKySearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="TrucBanNhatKySearch()"><i
                            class="material-icons">play_circle_filled</i></a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #TrucBanNhatKySort="matSort"
                        [dataSource]="TrucBanNhatKyService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="TrucBanNhatKyPaginator">
                                    {{TrucBanNhatKyPaginator.pageSize *
                                    TrucBanNhatKyPaginator.pageIndex + i + 1}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ID}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NgayGhiNhan">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày ghi nhận
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <input [ngModel]="element.NgayGhiNhan | date:'yyyy-MM-dd HH:mm:ss'"
                                    style="text-align: right;" (ngModelChange)="DateNgayGhiNhan(element, $event)"
                                    [ngModelOptions]="{ updateOn: 'blur' }" type="datetime-local" class="form-control"
                                    autocomplete="off">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Display">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Điện thoại
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Điện thoại"
                                    name="Display{{element.ID}}" [(ngModel)]="element.Display" style="width: 100px;">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Khu">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Khu
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Khu" name="Khu{{element.ID}}"
                                    [(ngModel)]="element.Khu" style="width: 50px;">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Tang">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tầng
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Tầng" name="Tang{{element.ID}}"
                                    [(ngModel)]="element.Tang" style="width: 50px;">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Khoa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Khoa
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-select *ngIf="element.ID==0"
                                    style="border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid; padding-bottom: 3px; color:green; width: 100%; min-width: 300px;"
                                    name="element.ParentID" class="browser-default" [(ngModel)]="element.ParentID">
                                    <input placeholder="Tìm..." (keyup)="DM_PhongBanFilter($event.target.value)"
                                        style="color: blue;">
                                    <mat-option *ngFor="let item of DM_PhongBanService.ListFilter"
                                        [value]="item.PhongBan_Id" style="color:green;">
                                        {{item.TenPhongBan}} - {{item.MaPhongBan}}
                                    </mat-option>
                                </mat-select>
                                <input *ngIf="element.ID>0" class="form-control" type="text" placeholder="Khoa"
                                    name="Khoa{{element.ID}}" [(ngModel)]="element.Khoa" style="width: 300px;">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Phong">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phòng
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Phòng" name="Phong{{element.ID}}"
                                    [(ngModel)]="element.Phong" style="width: 100px;">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TaiKhoan">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tài khoản
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Tài khoản"
                                    name="TaiKhoan{{element.ID}}" [(ngModel)]="element.TaiKhoan" style="width: 50px;">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ThucTrang">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Thực trạng
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Thực trạng"
                                    name="ThucTrang{{element.ID}}" [(ngModel)]="element.ThucTrang">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="XuLy">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Xử lý
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Xử lý" name="XuLy{{element.ID}}"
                                    [(ngModel)]="element.XuLy" style="min-width: 400px;">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Kết thúc
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="Active{{element.ID}}"
                                        [(ngModel)]="element.Active">
                                    <span></span>
                                </label>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="TrucBanNhatKySave(element)" style="color:#2196f3;"><i
                                        class="material-icons">save</i></a>
                                <a *ngIf="element.ID>0" (click)="TrucBanNhatKyDelete(element)" style="color: red;"><i
                                        class="material-icons">delete_forever</i></a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="TrucBanNhatKyService.DisplayColumns003">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: TrucBanNhatKyService.DisplayColumns003;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #TrucBanNhatKyPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                    <table *ngIf="NotificationService.IsMobile" mat-table matSort #TrucBanNhatKySort="matSort"
                        [dataSource]="TrucBanNhatKyService.DataSource" class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Danh sách
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div class="row gx-4">
                                    <div class="col s12 m12 l12">
                                        <label>Ngày ghi nhận</label>
                                        <br />
                                        <input [ngModel]="element.NgayGhiNhan | date:'yyyy-MM-dd HH:mm:ss'"
                                            style="text-align: right;"
                                            (ngModelChange)="DateNgayGhiNhan(element, $event)"
                                            [ngModelOptions]="{ updateOn: 'blur' }" type="datetime-local"
                                            class="form-control" autocomplete="off">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>Điện thoại</label>
                                        <br />
                                        <input class="form-control" type="text" placeholder="Điện thoại"
                                            name="Display{{element.ID}}" [(ngModel)]="element.Display">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>Khu</label>
                                        <br />
                                        <input class="form-control" type="text" placeholder="Khu"
                                            name="Khu{{element.ID}}" [(ngModel)]="element.Khu">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>Tầng</label>
                                        <br />
                                        <input class="form-control" type="text" placeholder="Tầng"
                                            name="Tang{{element.ID}}" [(ngModel)]="element.Tang">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>Khoa</label>
                                        <br />
                                        <mat-select *ngIf="element.ID==0"
                                            style="border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid; padding-bottom: 3px; color:green; width: 100%;"
                                            name="element.ParentID" class="browser-default"
                                            [(ngModel)]="element.ParentID">
                                            <input placeholder="Tìm..." (keyup)="DM_PhongBanFilter($event.target.value)"
                                                style="color: blue;">
                                            <mat-option *ngFor="let item of DM_PhongBanService.ListFilter"
                                                [value]="item.PhongBan_Id" style="color:green;">
                                                {{item.TenPhongBan}} - {{item.MaPhongBan}}
                                            </mat-option>
                                        </mat-select>
                                        <input *ngIf="element.ID>0" class="form-control" type="text" placeholder="Khoa"
                                            name="Khoa{{element.ID}}" [(ngModel)]="element.Khoa">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>Phòng</label>
                                        <br />
                                        <input class="form-control" type="text" placeholder="Phòng"
                                            name="Phong{{element.ID}}" [(ngModel)]="element.Phong">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>Tài khoản</label>
                                        <br />
                                        <input class="form-control" type="text" placeholder="Tài khoản"
                                            name="TaiKhoan{{element.ID}}" [(ngModel)]="element.TaiKhoan">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>Thực trạng</label>
                                        <br />
                                        <input class="form-control" type="text" placeholder="Thực trạng"
                                            name="ThucTrang{{element.ID}}" [(ngModel)]="element.ThucTrang">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>Xử lý</label>
                                        <br />
                                        <input class="form-control" type="text" placeholder="Xử lý"
                                            name="XuLy{{element.ID}}" [(ngModel)]="element.XuLy">
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <label>
                                            <input type="checkbox" name="Active{{element.ID}}"
                                                [(ngModel)]="element.Active">
                                            <span>Kết thúc</span>
                                        </label>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <a (click)="TrucBanNhatKySave(element)" style="color:#2196f3;"><i
                                                class="material-icons">save</i></a>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <a *ngIf="element.ID>0" (click)="TrucBanNhatKyDelete(element)"
                                            style="color: red;"><i class="material-icons">delete_forever</i></a>
                                    </div>
                                </div>
                                <br />
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="TrucBanNhatKyService.DisplayColumnsMobile">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: TrucBanNhatKyService.DisplayColumnsMobile;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="NotificationService.IsMobile" #TrucBanNhatKyPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="10000" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="TrucBanNhatKyService.IsShowLoading"></app-loading>