<div class="row">
    <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s1 m1 l1">
                    <h6 class="breadcrumbs-title">Thu chi</h6>
                </div>
                <div class="col s11 m11 l11 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/DuAn" title="Dự án">Dự án</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/DuAnInfo/{{DuAnService.FormData.ID}}"
                                title="{{DuAnService.FormData.Name}}">{{DuAnService.FormData.Name}}</a>
                        </li>
                        <li class="breadcrumb-item"><a
                                routerLink="/DuAnQuyetDinhInfo/{{DuAnService.FormData.ID}}/{{DuAnQuyetDinhService.FormData.ID}}"
                                title="{{DuAnQuyetDinhService.FormData.Name}}">{{DuAnQuyetDinhService.FormData.Name}} ({{DuAnQuyetDinhService.FormData.SoQuyetDinh}})</a>
                        </li>
                        <li class="breadcrumb-item"><a
                                routerLink="/DuAnThuChiInfo/{{DuAnService.FormData.ID}}/{{DuAnQuyetDinhService.FormData.ID}}/{{DuAnThuChiService.FormData.ID}}"
                                title="{{DuAnThuChiService.FormData.Name}}">{{DuAnThuChiService.FormData.Name}} ({{DuAnThuChiService.FormData.SoButToan}})</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-data-tables">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card card card-default scrollspy">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s6 m6 l3">
                                <a (click)="DuAnThuChiSave()" style="width: 100%;" title="Lưu thay đổi"
                                    class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-4 mr-1 mb-2"><i
                                        class="material-icons">save</i> Lưu thay đổi</a>
                            </div>
                            <div class="col s6 m6 l3">
                                <label>
                                    <input type="checkbox" class="form-check-input" name="Active"
                                        [(ngModel)]="ThanhVienService.FormData.Active" />
                                    <span>Đã quyết toán (Khoá)</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l3">
                                <div>
                                    <label class="form-label">Biểu mẫu
                                        [{{DuAnThuChiService.FormData.DanhMucBieuMauID}}]</label>
                                    <select class="browser-default form-select" name="DanhMucBieuMauID"
                                        [(ngModel)]="DuAnThuChiService.FormData.DanhMucBieuMauID">
                                        <option *ngFor="let item of DanhMucBieuMauService.List;" [value]="item.ID">
                                            {{item.Name}} [{{item.ID}}]</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="form-label">Hình thức
                                        [{{DuAnThuChiService.FormData.DanhMucHinhThucThanhToanID}}]</label>
                                    <select class="browser-default form-select" name="DanhMucHinhThucThanhToanID"
                                        [(ngModel)]="DuAnThuChiService.FormData.DanhMucHinhThucThanhToanID">
                                        <option *ngFor="let item of DanhMucHinhThucThanhToanService.List;"
                                            [value]="item.ID">
                                            {{item.Name}} [{{item.ID}}]</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="form-label">Quyết định
                                        [{{DuAnThuChiService.FormData.DuAnQuyetDinhID}}]</label>
                                    <select class="browser-default form-select" name="DuAnQuyetDinhID"
                                        [(ngModel)]="DuAnThuChiService.FormData.DuAnQuyetDinhID"
                                        (change)="DuAnQuyetDinhChange()">
                                        <option [value]="0">
                                            Chưa xác định</option>
                                        <option *ngFor="let item of DuAnQuyetDinhService.List;" [value]="item.ID">
                                            {{item.SoQuyetDinh}} - {{item.Name}} [{{item.ID}}]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col s12 m12 l3">
                                <div>
                                    <label class="form-label">Tiêu đề</label>
                                    <input name="Name" [(ngModel)]="DuAnThuChiService.FormData.Name"
                                        placeholder="Tiêu đề" type="text" class="form-control">
                                </div>
                                <div>
                                    <label class="form-label">Ghi chú</label>
                                    <input name="Note" [(ngModel)]="DuAnThuChiService.FormData.Note" placeholder="Ghi chú"
                                        type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col s12 m12 l3">    
                                <div>
                                    <label class="form-label">Số chứng từ</label>
                                    <input name="SoChungTu" [(ngModel)]="DuAnThuChiService.FormData.SoChungTu"
                                        placeholder="Số hồ sơ" type="text" class="form-control">
                                </div>
                                <div>
                                    <label class="form-label">Số bút toán</label>
                                    <input name="SoButToan" [(ngModel)]="DuAnThuChiService.FormData.SoButToan"
                                        placeholder="Số bút toán" type="text" class="form-control">
                                </div>
                                <div>
                                    <label class="form-label">Thu chi gốc (nếu có)</label>
                                    <select class="browser-default form-select" name="DuAnThuChiID"
                                        [(ngModel)]="DuAnThuChiService.FormData.DuAnThuChiID">
                                        <option [value]="0">
                                            Chưa xác định</option>
                                        <option *ngFor="let item of DuAnThuChiService.List001;" [value]="item.ID">
                                            {{item.Name}} - {{item.SoButToan}} [{{item.ID}}]</option>
                                    </select>
                                </div>                            
                            </div>
                            <div class="col s12 m12 l3">
                                <div>
                                    <label class="form-label">Ngày ghi nhận</label>
                                    <input [ngModel]="DuAnThuChiService.FormData.NgayGhiNhan | date:'yyyy-MM-dd'"
                                        style="text-align: right;" (ngModelChange)="DateNgayGhiNhan($event)"
                                        [ngModelOptions]="{ updateOn: 'blur' }" type="date" class="form-control"
                                        autocomplete="off">
                                </div>
                                <div>
                                    <label class="form-label">Số tiền ({{DuAnThuChiService.FormData.DonGia |
                                        number:
                                        '1.0-0'}})</label>
                                    <input name="DonGia" [(ngModel)]="DuAnThuChiService.FormData.DonGia"
                                        placeholder="Số tiền" type="number" class="form-control"
                                        style="text-align: right;">
                                </div>                               
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="card card card-default scrollspy">
                    <div class="card-content">
                        <div class="col s12 m12 l6">
                            <div class="card-title">
                                <h6 class="card-title">Tập tin đính kèm
                                    <span
                                        *ngIf="DuAnTapTinDinhKemService.List">({{DuAnTapTinDinhKemService.List.length-1}}
                                        items)</span>
                                </h6>
                            </div>
                        </div>
                        <div class="col s12 m12 l5">
                            <input [(ngModel)]="DuAnTapTinDinhKemService.BaseParameter.SearchString"
                                placeholder="Tìm ..." class="form-control" (keyup.enter)="DuAnTapTinDinhKemSearch()">
                        </div>
                        <div class="col s12 m12 l1">
                            <a class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-4 mr-1 mb-2"
                                title="Tìm" (click)="DuAnTapTinDinhKemSearch()"><i class="material-icons">search</i></a>
                        </div>
                        <div class="KhungOverflow">
                            <table *ngIf="!NotificationService.IsMobile" mat-table matSort
                                #DuAnTapTinDinhKemSort="matSort" [dataSource]="DuAnTapTinDinhKemService.DataSource">
                                <ng-container matColumnDef="STT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        STT
                                    </th>
                                    <td mat-cell *matCellDef="let element; index as i;" style="text-align: center;">
                                        <div *ngIf="DuAnTapTinDinhKemPaginator">
                                            {{DuAnTapTinDinhKemPaginator.pageSize *
                                            DuAnTapTinDinhKemPaginator.pageIndex + i + 1}}
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tiêu
                                        đề
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <input class="form-control" type="text" placeholder="Tiêu đề"
                                            name="Name{{element.ID}}" [(ngModel)]="element.Name">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Display">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>URL
                                        (nếu có)
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <input class="form-control" type="text" placeholder="URL (nếu có)"
                                            name="Display{{element.ID}}" [(ngModel)]="element.Display">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Note">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ghi
                                        chú
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <input class="form-control" type="text" placeholder="Ghi chú"
                                            name="Note{{element.ID}}" [(ngModel)]="element.Note">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="FileName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Chọn
                                        tập tin
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <input class="form-control" type="file" multiple
                                            (change)="DuAnTapTinDinhKemChangeFile($event.target.files)">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Save">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a (click)="DanhMucThanhVienSave(element)"
                                            class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-4 mr-1 mb-2"><i
                                                class="material-icons">save</i></a>
                                        <a *ngIf="element.ID>0" (click)="DanhMucThanhVienDelete(element)"
                                            class="waves-effect waves-light btn gradient-45deg-red-pink z-depth-4 mr-1 mb-2"><i
                                                class="material-icons">delete_forever</i></a>
                                        <a *ngIf="element.ID > 0 && element.FileName"
                                            class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-4 mr-1 mb-2"
                                            title="Tải về" href="{{element.FileName}}" target="_blank"><i
                                                class="material-icons">cloud_download</i>
                                        </a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DuAnTapTinDinhKemService.DisplayColumns001">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: DuAnTapTinDinhKemService.DisplayColumns001;">
                                </tr>
                            </table>
                            <mat-paginator *ngIf="!NotificationService.IsMobile"
                                #DuAnTapTinDinhKemPaginator="matPaginator" [pageSizeOptions]="[10,20,50,100]"
                                [pageSize]="6" [showFirstLastButtons]></mat-paginator>
                            <table *ngIf="NotificationService.IsMobile" mat-table matSort
                                #DuAnTapTinDinhKemSort="matSort" [dataSource]="DuAnTapTinDinhKemService.DataSource"
                                class="table table-striped m-0">
                                <ng-container matColumnDef="STT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Danh sách
                                    </th>
                                    <td mat-cell *matCellDef="let element; index as i;">
                                        <div class="row gx-4">
                                            <div class="col s12 m12 l12">
                                                <label class="form-label">Tiêu đề</label>
                                                <input class="form-control" type="text" placeholder="Tiêu đề"
                                                    name="Name{{element.ID}}" [(ngModel)]="element.Name">
                                            </div>
                                            <div class="col s12 m12 l12">
                                                <label class="form-label">URL (nếu có)</label>
                                                <input class="form-control" type="text" placeholder="URL (nếu có)"
                                                    name="Display{{element.ID}}" [(ngModel)]="element.Display">
                                            </div>
                                            <div class="col s12 m12 l12">
                                                <label class="form-label">Ghi chú</label>
                                                <input class="form-control" type="text" placeholder="Ghi chú"
                                                    name="Note{{element.ID}}" [(ngModel)]="element.Note">
                                            </div>
                                            <div class="col s12 m12 l12">
                                                <label class="form-label">Chọn tập tin</label>
                                                <br />
                                                <input class="form-control" type="file" multiple
                                                    (change)="DuAnTapTinDinhKemChangeFile($event.target.files)">
                                            </div>
                                            <div class="col s4 m4 l4">
                                                <a (click)="DanhMucThanhVienSave(element)" style="width: 100%;"
                                                    class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-4 mr-1 mb-2"><i
                                                        class="material-icons">save</i></a>
                                            </div>
                                            <div class="col s4 m4 l4">
                                                <a *ngIf="element.ID>0" (click)="DanhMucThanhVienDelete(element)"
                                                    style="width: 100%;"
                                                    class="waves-effect waves-light btn gradient-45deg-red-pink z-depth-4 mr-1 mb-2"><i
                                                        class="material-icons">delete_forever</i></a>
                                            </div>
                                            <div class="col s4 m4 l4">
                                                <a *ngIf="element.ID > 0 && element.FileName"
                                                    class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-4 mr-1 mb-2"
                                                    title="Tải về" href="{{element.FileName}}" target="_blank"><i
                                                        class="material-icons">cloud_download</i>
                                                </a>
                                            </div>
                                        </div>
                                        <br />
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DuAnTapTinDinhKemService.DisplayColumnsMobile">
                                </tr>
                                <tr mat-row
                                    *matRowDef="let row; columns: DuAnTapTinDinhKemService.DisplayColumnsMobile;">
                                </tr>
                            </table>
                            <mat-paginator *ngIf="NotificationService.IsMobile"
                                #DuAnTapTinDinhKemPaginator="matPaginator" [pageSizeOptions]="[10,20,50,100]"
                                [pageSize]="10000" [showFirstLastButtons]></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="DuAnService.IsShowLoading"></app-loading>