<div class="row">
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        ICD Chương
                        <span *ngIf="DM_ICD_ChuongService.List">({{DM_ICD_ChuongService.List.length-1}} items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Quay lại">
                                <<< Quay lại </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="#" title="eHospital Dictionary">eHospital Dictionary</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/DMICDChuong" title="DMICDChuong">
                                ICD Chương
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l11">
                    <input [(ngModel)]="DM_ICD_ChuongService.BaseParameter.SearchString" placeholder="Tìm ..."
                        class="form-control" (keyup.enter)="DM_ICD_ChuongSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a style="color: green;" title="Tìm" (click)="DM_ICD_ChuongSearch()">
                        <i class="material-icons">play_circle_filled</i>
                    </a>
                </div>
                <div class="KhungOverflow">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #DM_ICD_ChuongSort="matSort"
                        [dataSource]="DM_ICD_ChuongService.DataSource">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="DM_ICD_ChuongPaginator">
                                    {{
                                    DM_ICD_ChuongPaginator.pageSize *
                                    DM_ICD_ChuongPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="DM_ICD_ChuongSave(element)" style="color:#2196f3;">
                                    <i class="material-icons">save</i>
                                </a>
                                <!-- <a (click)="DM_ICD_ChuongDelete(element)" style="color: red;">
            <i class="material-icons">delete_forever</i>
        </a> -->
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ICD_Chuong_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ICD_Chuong_Id</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="ICD_Chuong_Id" name="ICD_Chuong_Id"
                                    [(ngModel)]="element.ICD_Chuong_Id"></td>
                        </ng-container>
                        <ng-container matColumnDef="MaChuongICD">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>MaChuongICD</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="MaChuongICD" name="MaChuongICD" [(ngModel)]="element.MaChuongICD"></td>
                        </ng-container>
                        <ng-container matColumnDef="TenChuongICD">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TenChuongICD</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="TenChuongICD" name="TenChuongICD" [(ngModel)]="element.TenChuongICD"
                                    style="width: 400px;">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TenChuongICD_En">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TenChuongICD_En</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="TenChuongICD_En" name="TenChuongICD_En"
                                    [(ngModel)]="element.TenChuongICD_En"></td>
                        </ng-container>
                        <ng-container matColumnDef="TenChuongICD_Ru">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TenChuongICD_Ru</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="TenChuongICD_Ru" name="TenChuongICD_Ru"
                                    [(ngModel)]="element.TenChuongICD_Ru"></td>
                        </ng-container>
                        <ng-container matColumnDef="TamNgung">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TamNgung</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="TamNgung" name="TamNgung" [(ngModel)]="element.TamNgung"></td>
                        </ng-container>
                        <ng-container matColumnDef="TenKhongDau">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TenKhongDau</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="TenKhongDau" name="TenKhongDau" [(ngModel)]="element.TenKhongDau"></td>
                        </ng-container>
                        <ng-container matColumnDef="NgayTao">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>NgayTao</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="NgayTao" name="NgayTao" [(ngModel)]="element.NgayTao"></td>
                        </ng-container>
                        <ng-container matColumnDef="NguoiTao_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiTao_Id</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="NguoiTao_Id" name="NguoiTao_Id" [(ngModel)]="element.NguoiTao_Id"></td>
                        </ng-container>
                        <ng-container matColumnDef="NgayCapNhat">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>NgayCapNhat</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="NgayCapNhat" name="NgayCapNhat" [(ngModel)]="element.NgayCapNhat"></td>
                        </ng-container>
                        <ng-container matColumnDef="NguoiCapNhat_Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>NguoiCapNhat_Id</th>
                            <td mat-cell *matCellDef="let element"><input class="form-control" type="text"
                                    placeholder="NguoiCapNhat_Id" name="NguoiCapNhat_Id"
                                    [(ngModel)]="element.NguoiCapNhat_Id"></td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="DM_ICD_ChuongService.DisplayColumns001">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: DM_ICD_ChuongService.DisplayColumns001;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #DM_ICD_ChuongPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100]" [pageSize]="20" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="DM_ICD_ChuongService.IsShowLoading"></app-loading>