<div id="login-page" class="row">
    <div class="col s12 m6 l4"></div>
    <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
        <div class="row">
            <div class="input-field col s12" style="text-align: center; padding-top: 5px;">
                <img src="/image/logo001.png" title="Cổng xác thực để truy cập hệ sinh thái số"
                    alt="Cổng xác thực để truy cập hệ sinh thái số">
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <input name="TaiKhoan" [(ngModel)]="ThanhVienService.FormData.TaiKhoan" placeholder="Tài khoản"
                    type="text" class="form-control" autofocus>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s10">
                <input name="MatKhau" [(ngModel)]="ThanhVienService.FormData.MatKhau" placeholder="Mật khẩu"
                    [type]="MatKhauIsActive ? 'password' : 'text'" class="form-control" (keyup.enter)="Login()">                
            </div>
            <div class="input-field col s2">
                <i class="material-icons prefix pt-2" (click)="MatKhauChangeType()" style="cursor: pointer;">remove_red_eye</i>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light border-round yellow darken-3 col s12" 
                    (click)="Login()"
                    [disabled]="!ThanhVienService.FormData.TaiKhoan || !ThanhVienService.FormData.MatKhau">Đăng
                    nhập</button>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4"></div>
</div>
<app-loading *ngIf="ThanhVienService.IsShowLoading"></app-loading>