<div class="app-body">
    <div class="row">
        <div class="col-xxl-12">
            <div class="card" style="margin-left: 1px;">
                <div class="card-body">
                    <div class="custom-tabs-container">
                        <ul class="nav nav-tabs justify-content-end" id="customTab5" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab-GoiSo" data-bs-toggle="tab" href="#GoiSo" role="tab"
                                    aria-controls="GoiSo" aria-selected="true">
                                    <span class="badge bg-info" style="font-size: 12px;">Đăng ký (Thử nghiệm)</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="customTabContent">
                            <div class="tab-pane fade show active" id="GoiSo" role="tabpanel">
                                <div class="row gx-4">
                                    <div class="col-lg-6 col-sm-12 col-12">
                                        <label class="form-label">Quầy phục vụ</label>
                                        <select class="form-select" name="ThanhVienQuayDichVuService.FormData.ID"
                                            [(ngModel)]="ThanhVienQuayDichVuService.FormData.ID">
                                            <option *ngFor="let item of ThanhVienQuayDichVuService.List;"
                                                [value]="item.ID">
                                                {{item.ParentName}} - {{item.Name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 col-12">
                                        <label class="form-label">Khám bệnh ({{GoiSoService.FormData.TongCong}})</label>
                                        <select class="form-select" name="ThanhVienDichVuService.FormData.ID"
                                            [(ngModel)]="ThanhVienDichVuService.FormData.ID">
                                            <option *ngFor="let item of ThanhVienDichVuService.List;" [value]="item.ID">
                                                {{item.Name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 col-12">
                                        <label class="form-label">Số đang gọi tại quầy</label>
                                        <input name="GoiSoService.FormData.SoHienTai"
                                            [(ngModel)]="GoiSoService.FormData.SoHienTai"
                                            placeholder="Số đang gọi tại quầy" class="form-control"
                                            style="text-align: right;" type="number">
                                    </div>                                    
                                    <div class="col-lg-3 col-sm-12 col-12">
                                        <label class="form-label">.</label>
                                        <a (click)="GoiSoTiepTheo()" style="width: 100%;"
                                            class="btn btn-success" title="Số tiếp theo">Số tiếp
                                            theo</a>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-12">
                                        <label class="form-label">.</label>
                                        <a style="width: 100%;" class="btn btn-success" title="Phát loa">Phát loa</a>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row gx-4">
                                    <div class="col-lg-4 col-sm-12 col-12">
                                        <a style="width: 100%;" title="Lưu thay đổi" (click)="GoiSoChiTietSave()"
                                            class="btn btn-info"><i class="bi bi-sd-card"></i> Lưu thay đổi</a>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12">
                                        <div class="form-check form-check-inline mb-6">
                                            <input type="checkbox" class="form-check-input" name="GioiTinh"
                                                [(ngModel)]="GoiSoChiTietService.FormData.GioiTinh" />
                                            <label class="form-check-label" for="GioiTinh">Nam / Nữ</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12"></div>
                                    <div class="col-lg-4 col-sm-12 col-12">
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Mã quản lý</label>
                                            <input name="Code" [(ngModel)]="GoiSoChiTietService.FormData.Code"
                                                placeholder="Mã quản lý" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Bảo hiểm y tế</label>
                                            <input name="BHYT" [(ngModel)]="GoiSoChiTietService.FormData.BHYT"
                                                placeholder="Bảo hiểm y tế" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Điện thoại</label>
                                            <input name="DienThoai" [(ngModel)]="GoiSoChiTietService.FormData.DienThoai"
                                                placeholder="Điện thoại" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">CCCD</label>
                                            <input name="CCCD" [(ngModel)]="GoiSoChiTietService.FormData.CCCD"
                                                placeholder="CCCD" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12">
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Số thứ tự</label>
                                            <input name="NgayCapSoSoThuTuString" [(ngModel)]="GoiSoChiTietService.FormData.NgayCapSoSoThuTuString"
                                                placeholder="Số thứ tự" type="text" class="form-control" disabled style="text-align: right;">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Họ tên</label>
                                            <input name="HoTen" [(ngModel)]="GoiSoChiTietService.FormData.HoTen"
                                                placeholder="Họ tên" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Năm sinh</label>
                                            <input name="NamSinh" [(ngModel)]="GoiSoChiTietService.FormData.NamSinh"
                                                placeholder="Năm sinh" type="number" class="form-control">
                                        </div>                                        
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Ghi chú</label>
                                            <input name="Note" [(ngModel)]="GoiSoChiTietService.FormData.Note"
                                                placeholder="Ghi chú" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-12">                                        
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Địa chỉ</label>
                                            <input name="DiaChi" [(ngModel)]="GoiSoChiTietService.FormData.DiaChi"
                                                placeholder="Địa chỉ" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Tỉnh thành</label>
                                            <input name="Note" [(ngModel)]="GoiSoChiTietService.FormData.Note"
                                                placeholder="Ghi chú" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Quận huyện</label>
                                            <input name="Note" [(ngModel)]="GoiSoChiTietService.FormData.Note"
                                                placeholder="Ghi chú" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <label class="form-label">Xã phường</label>
                                            <input name="Note" [(ngModel)]="GoiSoChiTietService.FormData.Note"
                                                placeholder="Ghi chú" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="GoiSoService.IsShowLoading"></app-loading>