<div class="section" id="user-profile">
    <table>
        <tr style="border: 0px;">
            <td style="width: calc(100% - 40vw); vertical-align: top;">
                <table>
                    <tr style="border: 0px;">
                        <td style="width: 50%; vertical-align: top;">
                            <table class="striped">
                                <thead class="yellow darken-4 white-text">
                                    <tr>
                                        <th style="width: 50%; text-align: center; font-size: {{FontSize}}vh; font-weight: bolder; padding: 0px; line-height: {{FontSize}}vh;"
                                            *ngIf="GoiSoChiTietService.FormData01 && GoiSoChiTietService.FormData01.DanhMucQuayDichVuName">
                                            {{GoiSoChiTietService.FormData01.DanhMucQuayDichVuName}}</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of GoiSoChiTietService.List01; index as i">
                                    <tr *ngIf="i % 2 == 0" class="light-blue darken-2 white-text">                                      
                                        <td
                                            style="text-align: center; font-size: 24vh; font-weight: bolder; padding: 0px; line-height: 24vh;">
                                            {{item.NgayTiepNhanSoThuTuString}}</td>
                                    </tr>
                                    <tr *ngIf="i % 2 == 1" class="light-blue darken-4 white-text">
                                        <td
                                            style="text-align: center; font-size: 24vh; font-weight: bolder; padding: 0px; line-height: 24vh;">
                                            {{item.NgayTiepNhanSoThuTuString}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 50%; vertical-align: top;">
                            <table class="striped">
                                <thead class="yellow darken-4 white-text">
                                    <tr>
                                        <th style="width: 50%; text-align: center; font-size: 13vh; font-weight: bolder; padding: 0px; line-height: 13vh;"
                                            *ngIf="GoiSoChiTietService.FormData02 && GoiSoChiTietService.FormData02.DanhMucQuayDichVuName">
                                            {{GoiSoChiTietService.FormData02.DanhMucQuayDichVuName}}</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of GoiSoChiTietService.List02; index as i">
                                    <tr *ngIf="i % 2 == 0" class="light-blue darken-2 white-text">                                       
                                        <td style="text-align: center; font-size: 24vh; font-weight: bolder; padding: 0px; line-height: 24vh;">
                                            {{item.NgayTiepNhanSoThuTuString}}</td>
                                    </tr>
                                    <tr *ngIf="i % 2 == 1" class="light-blue darken-4 white-text">
                                        <td
                                            style="text-align: center; font-size: 24vh; font-weight: bolder; padding: 0px; line-height: 24vh;">
                                            {{item.NgayTiepNhanSoThuTuString}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 40vw; vertical-align: top;">
                <table class="striped">                  
                    <tbody>
                        <tr>
                            <td>
                                <div *ngIf="IsBHYT==true" style="text-align: center; text-transform: uppercase; color: #1565c0; font-weight: bolder; font-size: 4vh;">
                                    Đăng ký cho bệnh nhân
                                    <br/>
                                    Khám ngoại trú bảo hiểm y tế
                                </div>
                                <div *ngIf="IsBHYT==false" style="text-align: center; text-transform: uppercase; color: #1565c0; font-weight: bolder; font-size: 3vh;">
                                    Đăng ký - thanh toán cho bệnh nhân
                                    <br/>
                                    Khám ngoại trú không bảo hiểm y tế
                                </div>                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                <img *ngIf="ManHinhTapTinDinhKemService.FormData.IsHinhAnh==true" style="width: 40vw;"
                    [src]="videoSrc" />
                <video *ngIf="ManHinhTapTinDinhKemService.FormData.IsHinhAnh==false" type="video/mp4" style="width: 40vw;" [src]="videoSrc" controls loop muted autoplay oncanplay="this.play()"
                    onloadedmetadata="this.muted = true">
                </video>              
            </td>
        </tr>
    </table>
</div>
<app-loading *ngIf="GoiSoChiTietService.IsShowLoading"></app-loading>