<div class="section" id="user-profile" style="margin: 0px; padding: 0px;">
    <div class="row" style="margin: 0px; padding: 0px;">
        <div *ngIf="DanhMucQuayDichVuService.FormData01.Active" class="col s6 m6 l6" style="margin: 0px; padding: 0px;">
            <table class="striped" style="width: 100%;">
                <thead class="yellow darken-4 white-text" style="background-color: transparent; border-width: 0px; border-right: 1px solid #ffffff;">
                    <tr>
                        <th style="text-transform: uppercase; text-align: center; font-size: 12vh; font-weight: bolder; padding: 0px; line-height: 16vh;">
                            {{DanhMucQuayDichVuService.FormData01.Name}}
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of GoiSoChiTietService.List01; index as i">
                    <tr *ngIf="i % 2 == 0" class="light-blue darken-2 white-text">
                        <td
                            style="letter-spacing: 5px; color: {{DanhMucQuayDichVuService.FormData01.TypeName}}; text-align: center; font-size: 24vh; font-weight: bolder; padding: 0px; line-height: 24vh;">
                            {{item.NgayTiepNhanSoThuTuString}}</td>
                    </tr>
                    <tr *ngIf="i % 2 == 1" class="light-blue darken-4 white-text">
                        <td
                            style="letter-spacing: 5px; color: {{DanhMucQuayDichVuService.FormData01.TypeName}}; text-align: center; font-size: 24vh; font-weight: bolder; padding: 0px; line-height: 24vh;">
                            {{item.NgayTiepNhanSoThuTuString}}</td>
                    </tr>                    
                </tbody>               
            </table>
        </div>
        <div *ngIf="DanhMucQuayDichVuService.FormData02.Active" class="col s6 m6 l6" style="margin: 0px; padding: 0px;">
            <table class="striped" style="width: 100%;">
                <thead class="yellow darken-4 white-text" style="background-color: transparent; border-width: 0px; border-right: 1px solid #ffffff;">
                    <tr>
                        <th style="text-transform: uppercase; text-align: center; font-size: 12vh; font-weight: bolder; padding: 0px; line-height: 16vh;">
                            {{DanhMucQuayDichVuService.FormData02.Name}}
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of GoiSoChiTietService.List02; index as i" style="border-left: 1px solid #ffffff;">
                    <tr *ngIf="i % 2 == 0" class="light-blue darken-2 white-text">
                        <td
                            style="letter-spacing: 5px; color: {{DanhMucQuayDichVuService.FormData01.TypeName}}; text-align: center; font-size: 24vh; font-weight: bolder; padding: 0px; line-height: 24vh;">
                            {{item.NgayTiepNhanSoThuTuString}}</td>
                    </tr>
                    <tr *ngIf="i % 2 == 1" class="light-blue darken-4 white-text">
                        <td
                            style="letter-spacing: 5px; color: {{DanhMucQuayDichVuService.FormData01.TypeName}}; text-align: center; font-size: 24vh; font-weight: bolder; padding: 0px; line-height: 24vh;">
                            {{item.NgayTiepNhanSoThuTuString}}</td>
                    </tr>                    
                </tbody>               
            </table>
        </div>
        <div *ngIf="DanhMucQuayDichVuService.FormData01.IsBannerShow" class="col s6 m6 l6" style="margin: 0px; padding: 0px;">                       
            <div style="text-align: center; text-transform: uppercase; color: #1565c0; font-weight: bolder; font-family: 'Arial Narrow', sans-serif; font-size: 4vh;">              
                Bệnh viện Đa khoa Đồng Nai
            </div>
            <img style="width: 100%;" src="http://10.84.3.124:900/Image/1.jpg" />   
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12" style="margin: 0px; padding: 0px;">
            <a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a>
        </div>
    </div>
</div>
<app-loading *ngIf="GoiSoChiTietService.IsShowLoading"></app-loading>